In [1]:
import pandas as p

In [2]:
#reading the csv file
d = p.read_csv("AgentPerformance.csv")

In [3]:
d.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [4]:
#Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave.
"""First we have to convert the data type into data so we can define dates into weekly basis"""

'First we have to convert the data type into data so we can define dates into weekly basis'

In [5]:
d['Date'] = p.to_datetime(d['Date']) #converted into timestrap

In [6]:
d['Date']

0      2022-07-30
1      2022-07-30
2      2022-07-30
3      2022-07-30
4      2022-07-30
          ...
2155   2022-07-01
2156   2022-07-01
2157   2022-07-01
2158   2022-07-01
2159   2022-07-01
Name: Date, Length: 2160, dtype: datetime64[ns]

In [7]:
d['weeks'] =d['Date'].dt.weekofyear #making new column

C:\Users\laptop\AppData\Local\Temp/ipykernel_4356/225351574.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  d['weeks'] =d['Date'].dt.weekofyear #making new column

In [8]:
d

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,weeks
0,1,2022-07-30,Prerna Singh,11,0:00:38,0:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,0:00:30,0:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,0:01:11,0:16:33,3.67,6,30
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,26
2156,2157,2022-07-01,Nitin M,0,0:00:00,0:00:00,0.00,0,26
2157,2158,2022-07-01,Vivek,0,0:00:00,0:00:00,0.00,0,26
2158,2159,2022-07-01,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,26
2159,2160,2022-07-01,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,26

In [9]:
d.groupby(['weeks','Agent Name'])['Average Rating'].mean()

weeks  Agent Name
26     Abhishek         0.000000
       Aditya           0.000000
       Aditya Shinde    2.566667
       Aditya_iot       0.000000
       Amersh           0.000000
                          ...
30     Uday Mishra      0.000000
       Vasanth P        0.000000
       Vivek            0.000000
       Wasim            3.581667
       Zeeshan          2.760000
Name: Average Rating, Length: 350, dtype: float64

In [10]:
#Total working days for each agents
d.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,weeks
0,1,2022-07-30,Prerna Singh,11,0:00:38,0:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,0:00:30,0:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,0:01:11,0:16:33,3.67,6,30

In [11]:
h= d[d['Total Chats'] != 0] #filtering those row in which their chat
t=dict( h.groupby(['Agent Name']).Date.unique())
for i in t:
    j=0
    for u in t[i]:
        j=j+1
    print(f'{i} : {j}')

Aditya Shinde : 12
Aditya_iot  : 17
Ameya Jain : 15
Anirudh  : 7
Ankitjha  : 3
Anurag Tiwari : 2
Aravind  : 14
Ashad Nasim : 2
Ayushi Mishra : 24
Bharath  : 19
Boktiar Ahmed Bappy : 26
Chaitra K Hiremath : 6
Deepranjan Gupta : 21
Dibyanshu  : 1
Harikrishnan Shaji : 19
Hitesh Choudhary : 1
Hrisikesh Neogi : 21
Ishawant Kumar : 24
Jawala Prakash : 25
Jayant Kumar : 8
Jaydeep Dixit : 21
Khushboo Priya : 26
Madhulika G : 24
Mahak  : 1
Mahesh Sarade : 18
Maitry  : 20
Maneesh  : 3
Manjunatha A : 25
Mithun S : 18
Mukesh  : 2
Mukesh Rao  : 3
Muskan Garg : 5
Nandani Gupta : 21
Nishtha Jain : 23
Prabir Kumar Satapathy : 17
Prateek _iot  : 17
Prerna Singh : 22
Rishav Dash : 21
Saikumarreddy N : 13
Samprit  : 1
Sandipan Saha : 3
Sanjeev Kumar : 23
Saurabh Shukla : 4
Shiva Srivastava : 7
Shivan K : 22
Shivan_S  : 1
Shivananda Sonwane : 28
Shubham Sharma : 21
Sowmiya Sivakumar : 9
Sudhanshu Kumar : 2
Suraj S Bilgi : 2
Swati  : 17
Tarun  : 1
Vivek  : 5
Wasim  : 16
Zeeshan  : 16

In [12]:
#Total query that you hvae taken

In [13]:
h #this dataframe without where there is no total chats
h.groupby('Agent Name')['Date'].count()

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    7
Ankitjha                   3
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       26
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hitesh Choudhary           1
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    3
Manjunatha A              25
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              17
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Samprit                    1
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Date, dtype: int64

In [14]:
#total Feedback that you have received 
d[d['Total Feedback']!=0].groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde             153
Aditya_iot                131
Ameya Jain                228
Anirudh                    39
Ankitjha                    3
Anurag Tiwari               3
Aravind                   233
Ashad Nasim                 9
Ayushi Mishra             329
Bharath                   247
Boktiar Ahmed Bappy       311
Chaitra K Hiremath         37
Deepranjan Gupta          312
Harikrishnan Shaji        231
Hrisikesh Neogi           367
Ishawant Kumar            202
Jawala Prakash            250
Jayant Kumar               70
Jaydeep Dixit             305
Khushboo Priya            289
Madhulika G               281
Mahak                       5
Mahesh Sarade             216
Maitry                    347
Maneesh                     3
Manjunatha A              254
Mithun S                  364
Mukesh                     17
Mukesh Rao                  5
Muskan Garg                37
Nandani Gupta             308
Nishtha Jain              257
Prabir Kumar Satapathy    222
Prateek _iot              107
Prerna Singh              235
Rishav Dash               264
Saikumarreddy N           290
Sandipan Saha              18
Sanjeev Kumar             311
Saurabh Shukla              8
Shiva Srivastava           46
Shivan K                  243
Shivan_S                    4
Shivananda Sonwane        263
Shubham Sharma            300
Sowmiya Sivakumar         141
Sudhanshu Kumar             2
Suraj S Bilgi              15
Swati                     302
Tarun                       6
Vivek                      20
Wasim                     284
Zeeshan                   335
Name: Total Feedback, dtype: int64

In [15]:
# a agent name who have average rating between 3.5 to 4
d[(d['Average Rating'] >3.5) & (d['Average Rating']<4)]['Agent Name'].unique()

array(['Swati ', 'Manjunatha A', 'Prateek _iot ', 'Nandani Gupta',
       'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ', 'Hrisikesh Neogi',
       'Khushboo Priya', 'Wasim ', 'Jawala Prakash', 'Nishtha Jain',
       'Prerna Singh', 'Boktiar Ahmed Bappy', 'Muskan Garg',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Shivan K',
       'Madhulika G', 'Rishav Dash', 'Maitry ', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Sandipan Saha', 'Anirudh ', 'Jayant Kumar', 'Saurabh Shukla',
       'Aditya Shinde'], dtype=object)

In [16]:
#Agent name who have rating lesss then 3.5
d[d['Average Rating'] <3.5]['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

In [17]:
#agent name who have rating more then 4.5
d[d['Average Rating'] >4.5]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

In [18]:
#how many feedaback agents have received more then 4.5 average
d[(d['Total Feedback'] !=0) & (d['Average Rating'] >4.5)]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

In [19]:

def fn(a):
    
    j = int(a[0])*(3600)+(int(a[2])*10+int(a[3])*1)*60+(int(a[5])*10+int(a[6])*1)
    return j

In [20]:
d

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,weeks
0,1,2022-07-30,Prerna Singh,11,0:00:38,0:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,0:00:30,0:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,0:01:11,0:16:33,3.67,6,30
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,26
2156,2157,2022-07-01,Nitin M,0,0:00:00,0:00:00,0.00,0,26
2157,2158,2022-07-01,Vivek,0,0:00:00,0:00:00,0.00,0,26
2158,2159,2022-07-01,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,26
2159,2160,2022-07-01,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,26

In [21]:
#average weekly response time for each agent 
d['Average Response_in_sec']=d['Average Response Time'].apply(fn)

In [22]:
h=d[d['Average Response_in_sec'] != 0]

In [23]:
h.groupby(['weeks','Agent Name'])['Average Response_in_sec'].mean()

weeks  Agent Name
26     Aditya Shinde          83.000000
       Ayushi Mishra          85.500000
       Bharath                42.000000
       Boktiar Ahmed Bappy    60.333333
       Deepranjan Gupta       67.000000
                                ...
30     Sowmiya Sivakumar      72.400000
       Suraj S Bilgi          91.000000
       Swati                  87.000000
       Wasim                  60.600000
       Zeeshan                95.750000
Name: Average Response_in_sec, Length: 176, dtype: float64

In [24]:
#average weekely resolution time for each agents
d['Average Resolution Time_in_secs']=d['Average Resolution Time'].apply(fn)

In [25]:
df=d[d['Average Resolution Time_in_secs'] !=0]

In [26]:
df.groupby(['Agent Name','weeks'])['Average Resolution Time_in_secs'].mean()

Agent Name     weeks
Aditya Shinde  26       1390.50
               27       1265.40
               28       1902.20
Aditya_iot     27       1084.50
               28       1275.40
                         ...
Wasim          30       1265.80
Zeeshan        27       1130.50
               28       1378.00
               29       1112.00
               30       1160.25
Name: Average Resolution Time_in_secs, Length: 182, dtype: float64

In [27]:
#list of all agents name
d1 = p.read_csv('AgentLogingReport.csv')

In [28]:
len(d1['Agent'].unique())

49

In [29]:
len(d['Agent Name'].unique())

70

In [30]:
#percentage of chat on which they have received a feedback 
"""To calculate the percentage We have to calculate the (feedback recieved /total chats)*100"""

'To calculate the percentage We have to calculate the (feedback recieved /total chats)*100'

In [31]:
w= d[d['Total Chats'] != 0] #here we removing those rows where there is no chat means that it removes those are are on leave or there is leave

In [32]:
w.groupby('Agent Name')['Total Chats'].count() #here we count the total chat we have total chats gruop by name

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    7
Ankitjha                   3
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       26
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hitesh Choudhary           1
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    3
Manjunatha A              25
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              17
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Samprit                    1
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Total Chats, dtype: int64

In [33]:
w[w['Total Feedback'] != 0].groupby('Agent Name')['Total Feedback'].count() #here we count feedback recieved from total cha group name

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    6
Ankitjha                   2
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       25
Chaitra K Hiremath         6
Deepranjan Gupta          20
Harikrishnan Shaji        19
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            25
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    2
Manjunatha A              24
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              16
Prerna Singh              22
Rishav Dash               20
Saikumarreddy N           13
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  20
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Total Feedback, dtype: int64

In [34]:
w[w['Total Feedback'] != 0].groupby('Agent Name')['Total Feedback'].count()/w.groupby('Agent Name')['Total Chats'].count() *100
"""We caculating the percentagage"""

'We caculating the percentagage'

In [35]:
#Total contributation hour for each and every agents weekly basis

In [36]:
d1['Date']=p.to_datetime(d1['Date'])

In [37]:
d1['weeks'] = d['Date'].dt.week

C:\Users\laptop\AppData\Local\Temp/ipykernel_4356/4080059060.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  d1['weeks'] = d['Date'].dt.week

In [42]:
d1['Duration_in_hours']=d1['Duration'].apply(fn)

In [41]:
def fn(a):
    if len(a)<=8:
        j = (int(a[0])*10+int(a[1]))*(3600)+(int(a[3])*10+int(a[4])*1)*60+(int(a[6])*10+int(a[7])*1)
        return j/3600
    else:
        j = (int(a[0])*100+int(a[1])*10+int(a[2]))*(3600)+(int(a[4])*10+int(a[5])*1)*60+(int(a[7])*10+int(a[8])*1)
        return j/3600
        
"""Through this we conver the duration into hours """

'Through this we conver the duration into hours '

In [43]:
dict(d1.groupby(['Agent','weeks'])['Duration_in_hours'].mean())

{('Aditya Shinde', 30): 0.03611111111111111,
 ('Aditya_iot', 28): 2.023888888888889,
 ('Aditya_iot', 29): 2.131944444444444,
 ('Aditya_iot', 30): 1.4622777777777778,
 ('Amersh', 30): 0.7659722222222222,
 ('Ameya Jain', 28): 6.595555555555555,
 ('Ameya Jain', 29): 3.3544444444444443,
 ('Ameya Jain', 30): 5.999444444444444,
 ('Ankitjha', 30): 0.5667361111111111,
 ('Anurag Tiwari', 28): 0.011111111111111112,
 ('Anurag Tiwari', 29): 0.07591666666666666,
 ('Anurag Tiwari', 30): 0.07725427350427351,
 ('Aravind', 28): 3.1951388888888888,
 ('Aravind', 29): 2.555674603174603,
 ('Aravind', 30): 0.019166666666666665,
 ('Ayushi Mishra', 29): 2.4279444444444445,
 ('Ayushi Mishra', 30): 1.7302777777777778,
 ('Bharath', 28): 6.0119444444444445,
 ('Bharath', 29): 4.8069444444444445,
 ('Bharath', 30): 6.010000000000001,
 ('Boktiar Ahmed Bappy', 29): 2.9392708333333335,
 ('Boktiar Ahmed Bappy', 30): 1.8616049382716051,
 ('Chaitra K Hiremath', 29): 2.7550000000000003,
 ('Chaitra K Hiremath', 30): 2.606055555555556,
 ('Deepranjan Gupta', 29): 1.9709201388888888,
 ('Deepranjan Gupta', 30): 1.6617628205128203,
 ('Dibyanshu', 28): 0.2944117647058824,
 ('Dibyanshu', 29): 0.2666182170542636,
 ('Dibyanshu', 30): 0.23487301587301587,
 ('Harikrishnan Shaji', 28): 2.080185185185185,
 ('Harikrishnan Shaji', 29): 2.437727272727273,
 ('Harikrishnan Shaji', 30): 2.2954629629629633,
 ('Hrisikesh Neogi', 28): 2.9402777777777778,
 ('Hrisikesh Neogi', 29): 1.6059477124183008,
 ('Hrisikesh Neogi', 30): 1.3548302469135802,
 ('Hyder Abbas', 29): 0.1940277777777778,
 ('Ineuron Intelligence', 28): 1.448611111111111,
 ('Ishawant Kumar', 28): 0.06875,
 ('Ishawant Kumar', 29): 1.5912777777777778,
 ('Ishawant Kumar', 30): 0.7871333333333334,
 ('Jawala Prakash', 29): 3.2902777777777774,
 ('Jawala Prakash', 30): 2.3985317460317463,
 ('Jaydeep Dixit', 29): 6.985740740740741,
 ('Jaydeep Dixit', 30): 3.5852222222222223,
 ('Khushboo Priya', 28): 2.983888888888889,
 ('Khushboo Priya', 29): 2.2688194444444445,
 ('Khushboo Priya', 30): 2.4300347222222225,
 ('Madhulika G', 28): 3.0054166666666666,
 ('Madhulika G', 29): 2.2481666666666666,
 ('Madhulika G', 30): 3.5135555555555555,
 ('Mahesh Sarade', 28): 6.655277777777778,
 ('Mahesh Sarade', 29): 2.325858585858586,
 ('Mahesh Sarade', 30): 0.4450925925925926,
 ('Maitry', 29): 6.164444444444444,
 ('Maitry', 30): 6.287222222222222,
 ('Manjunatha A', 28): 5.976944444444444,
 ('Manjunatha A', 29): 6.082962962962963,
 ('Manjunatha A', 30): 4.262222222222222,
 ('Mithun S', 28): 1.5208333333333333,
 ('Mithun S', 29): 3.3748412698412698,
 ('Mithun S', 30): 3.7016111111111116,
 ('Mukesh', 30): 2.9683333333333333,
 ('Muskan Garg', 29): 0.9106944444444445,
 ('Muskan Garg', 30): 2.5125,
 ('Nandani Gupta', 28): 5.97,
 ('Nandani Gupta', 29): 3.310925925925926,
 ('Nandani Gupta', 30): 3.584166666666667,
 ('Nishtha Jain', 28): 2.913194444444444,
 ('Nishtha Jain', 29): 2.7740277777777775,
 ('Nishtha Jain', 30): 1.9792708333333333,
 ('Nitin M', 29): 0.7988888888888889,
 ('Prabir Kumar Satapathy', 29): 1.0112222222222222,
 ('Prabir Kumar Satapathy', 30): 2.1921296296296293,
 ('Prateek _iot', 28): 1.1638888888888888,
 ('Prateek _iot', 29): 0.7950925925925927,
 ('Prateek _iot', 30): 1.4890740740740742,
 ('Prerna Singh', 28): 3.018194444444444,
 ('Prerna Singh', 29): 3.074444444444444,
 ('Prerna Singh', 30): 2.12325,
 ('Rishav Dash', 29): 2.8221944444444444,
 ('Rishav Dash', 30): 6.776805555555555,
 ('Saikumarreddy N', 28): 6.072222222222222,
 ('Saikumarreddy N', 29): 3.781666666666667,
 ('Saikumarreddy N', 30): 4.539236111111111,
 ('Sanjeev Kumar', 28): 6.0675,
 ('Sanjeev Kumar', 29): 1.9640384615384614,
 ('Sanjeev Kumar', 30): 2.1812037037037038,
 ('Saurabh Shukla', 28): 2.661574074074074,
 ('Saurabh Shukla', 29): 0.23454954954954954,
 ('Shiva Srivastava', 29): 0.5328055555555555,
 ('Shiva Srivastava', 30): 1.9332222222222222,
 ('Shivan K', 29): 1.0783194444444444,
 ('Shivan K', 30): 0.9084895833333333,
 ('Shivananda Sonwane', 29): 4.4816666666666665,
 ('Shivananda Sonwane', 30): 2.4886419753086417,
 ('Shubham Sharma', 28): 2.916111111111111,
 ('Shubham Sharma', 29): 1.3190277777777777,
 ('Shubham Sharma', 30): 1.8121604938271605,
 ('Sowmiya Sivakumar', 28): 6.963055555555556,
 ('Sowmiya Sivakumar', 29): 1.5208333333333333,
 ('Sowmiya Sivakumar', 30): 1.8020277777777778,
 ('Sudhanshu Kumar', 28): 7.824999999999999,
 ('Sudhanshu Kumar', 29): 1.4674537037037034,
 ('Sudhanshu Kumar', 30): 7.258796296296296,
 ('Suraj S Bilgi', 30): 2.511833333333333,
 ('Swati', 28): 6.171388888888889,
 ('Swati', 29): 4.707430555555556,
 ('Tarun', 28): 514.1388888888889,
 ('Wasim', 28): 2.6287037037037035,
 ('Wasim', 29): 1.6400213675213675,
 ('Wasim', 30): 4.743194444444445,
 ('Zeeshan', 28): 6.053055555555556,
 ('Zeeshan', 29): 4.119675925925926,
 ('Zeeshan', 30): 6.105833333333333}

In [40]:
#total percentage of active hour for a month

In [46]:
d1

,SL No,Agent,Date,Login Time,Logout Time,Duration,weeks,Duration_in_hours
0,1,Shivananda Sonwane,2022-07-30,15:35:29,17:39:39,02:04:10,30,2.069444
1,2,Khushboo Priya,2022-07-30,15:06:59,15:07:16,00:00:17,30,0.004722
2,3,Nandani Gupta,2022-07-30,15:04:24,17:31:07,02:26:42,30,2.445000
3,4,Hrisikesh Neogi,2022-07-30,14:34:29,15:19:35,00:45:06,30,0.751667
4,5,Mukesh,2022-07-30,14:03:15,15:11:52,01:08:36,30,1.143333
...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51,15:02:28,05:58:37,28,5.976944
996,997,Bharath,2022-07-20,09:00:49,15:01:32,06:00:43,28,6.011944
997,998,Khushboo Priya,2022-07-20,08:59:20,14:26:55,05:27:34,28,5.459444
998,999,Nishtha Jain,2022-07-20,08:43:55,14:00:33,05:16:38,28,5.277222
999,1000,Tarun,2022-07-01,01:52:47,12:01:07,514:08:20,28,514.138889