In [1]:
import pandas as p

In [2]:
import mysql.connector as con

In [3]:
mydb= con.connect(host = 'localhost',user= 'root',database = 'task',password = 'P05r 0t 6u4 %9jye')
c= mydb.cursor()

In [4]:
#Reading data in pandas
d = p.read_csv('FitBitdata.csv')
d

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [5]:
d['ActivityDate'] = p.to_datetime(d['ActivityDate'])

In [34]:
d.dtypes.count()

15

In [35]:
replacement= {'int64': 'bigint'
             ,'float64':'float',
             'datetime64[ns]':'datetime'}

In [36]:
s= ''
for  i in zip(d.columns,d.dtypes.replace(replacement)):
    s= s+i[0]+' '+i[1]+','
s = s[:-1]

In [37]:
s

'Id bigint,ActivityDate datetime,TotalSteps bigint,TotalDistance float,TrackerDistance float,LoggedActivitiesDistance float,VeryActiveDistance float,ModeratelyActiveDistance float,LightActiveDistance float,SedentaryActiveDistance float,VeryActiveMinutes bigint,FairlyActiveMinutes bigint,LightlyActiveMinutes bigint,SedentaryMinutes bigint,Calories bigint'

In [38]:
c.execute("Create table fitbit ("+ s+")")

In [39]:
for i,row in d.iterrows():
    sql= "insert into fitbit value(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    print(tuple(row))
    c.execute(sql,tuple(row))
    mydb.commit()
    print('inserted')
print('inserted all')

(1503960366, Timestamp('2016-03-25 00:00:00'), 11004, 7.110000134, 7.110000134, 0.0, 2.569999933, 0.460000008, 4.070000172, 0.0, 33, 12, 205, 804, 1819)
inserted
(1503960366, Timestamp('2016-03-26 00:00:00'), 17609, 11.55000019, 11.55000019, 0.0, 6.920000076, 0.730000019, 3.910000086, 0.0, 89, 17, 274, 588, 2154)
inserted
(1503960366, Timestamp('2016-03-27 00:00:00'), 12736, 8.529999733, 8.529999733, 0.0, 4.659999847, 0.159999996, 3.710000038, 0.0, 56, 5, 268, 605, 1944)
inserted
(1503960366, Timestamp('2016-03-28 00:00:00'), 13231, 8.930000305, 8.930000305, 0.0, 3.190000057, 0.790000021, 4.949999809, 0.0, 39, 20, 224, 1080, 1932)
inserted
(1503960366, Timestamp('2016-03-29 00:00:00'), 12041, 7.849999905, 7.849999905, 0.0, 2.160000086, 1.090000033, 4.610000134, 0.0, 28, 28, 243, 763, 1886)
inserted
(1503960366, Timestamp('2016-03-30 00:00:00'), 10970, 7.159999847, 7.159999847, 0.0, 2.359999895, 0.50999999, 4.289999962, 0.0, 30, 13, 223, 1174, 1820)
inserted
(1503960366, Timestamp('2016-03-31 00:00:00'), 12256, 7.860000134, 7.860000134, 0.0, 2.289999962, 0.49000001, 5.039999962, 0.0, 33, 12, 239, 820, 1889)
inserted
(1503960366, Timestamp('2016-04-01 00:00:00'), 12262, 7.869999886, 7.869999886, 0.0, 3.319999933, 0.829999983, 3.640000105, 0.0, 47, 21, 200, 866, 1868)
inserted
(1503960366, Timestamp('2016-04-02 00:00:00'), 11248, 7.25, 7.25, 0.0, 3.0, 0.449999988, 3.74000001, 0.0, 40, 11, 244, 636, 1843)
inserted
(1503960366, Timestamp('2016-04-03 00:00:00'), 10016, 6.369999886, 6.369999886, 0.0, 0.910000026, 1.279999971, 4.179999828, 0.0, 15, 30, 314, 655, 1850)
inserted
(1503960366, Timestamp('2016-04-04 00:00:00'), 14557, 9.800000191, 9.800000191, 0.0, 3.390000105, 0.699999988, 5.690000057, 0.0, 43, 18, 285, 757, 2030)
inserted
(1503960366, Timestamp('2016-04-05 00:00:00'), 14844, 9.729999542, 9.729999542, 0.0, 2.940000057, 0.75999999, 6.039999962, 0.0, 36, 18, 341, 736, 2083)
inserted
(1503960366, Timestamp('2016-04-06 00:00:00'), 11974, 7.670000076, 7.670000076, 0.0, 2.039999962, 0.479999989, 5.150000095, 0.0, 27, 12, 228, 1173, 1861)
inserted
(1503960366, Timestamp('2016-04-07 00:00:00'), 10198, 6.440000057, 6.440000057, 0.0, 1.200000048, 0.790000021, 4.449999809, 0.0, 17, 20, 195, 1208, 1755)
inserted
(1503960366, Timestamp('2016-04-08 00:00:00'), 12521, 7.940000057, 7.940000057, 0.0, 3.309999943, 0.899999976, 3.74000001, 0.0, 46, 22, 212, 1160, 1895)
inserted
(1503960366, Timestamp('2016-04-09 00:00:00'), 12432, 8.100000381, 8.100000381, 0.0, 2.589999914, 0.589999974, 4.920000076, 0.0, 32, 15, 248, 738, 1883)
inserted
(1503960366, Timestamp('2016-04-10 00:00:00'), 10057, 6.980000019, 6.980000019, 0.0, 4.0, 0.49000001, 2.480000019, 0.0, 44, 13, 168, 737, 1755)
inserted
(1503960366, Timestamp('2016-04-11 00:00:00'), 10990, 7.260000229, 7.260000229, 0.0, 2.039999962, 0.569999993, 4.650000095, 0.0, 26, 14, 216, 855, 1811)
inserted
(1503960366, Timestamp('2016-04-12 00:00:00'), 224, 0.140000001, 0.140000001, 0.0, 0.0, 0.0, 0.129999995, 0.0, 0, 0, 9, 32, 50)
inserted
(1624580081, Timestamp('2016-03-25 00:00:00'), 1810, 1.179999948, 1.179999948, 0.0, 0.0, 0.0, 1.129999995, 0.01, 0, 0, 121, 1319, 1373)
inserted
(1624580081, Timestamp('2016-03-26 00:00:00'), 815, 0.529999971, 0.529999971, 0.0, 0.0, 0.0, 0.529999971, 0.0, 0, 0, 47, 1393, 1264)
inserted
(1624580081, Timestamp('2016-03-27 00:00:00'), 1985, 1.289999962, 1.289999962, 0.0, 0.0, 0.0, 1.279999971, 0.01, 0, 0, 112, 1328, 1350)
inserted
(1624580081, Timestamp('2016-03-28 00:00:00'), 1905, 1.24000001, 1.24000001, 0.0, 0.0, 0.0, 1.24000001, 0.0, 0, 0, 95, 1345, 1342)
inserted
(1624580081, Timestamp('2016-03-29 00:00:00'), 1552, 1.00999999, 1.00999999, 0.0, 0.0, 0.0, 1.0, 0.0, 0, 0, 66, 1374, 1300)
inserted
(1624580081, Timestamp('2016-03-30 00:00:00'), 1675, 1.090000033, 1.090000033, 0.0, 0.0, 0.0, 1.090000033, 0.0, 0, 0, 84, 1356, 1313)
inserted
(1624580081, Timestamp('2016-03-31 00:00:00'), 4506, 2.930000067, 2.930000067, 0.0, 0.50999999, 0.270000011, 2.150000095, 0.01, 7, 4, 144, 1285, 1498)
inserted
(1624580081, Timestamp('2016-04-01 00:00:00'), 9218, 5.989999771, 5.989999771, 0.0, 0.0, 0.0, 5.96999979, 0.01, 0, 0, 221, 1219, 1541)
inserted
(1624580081, Timestamp('2016-04-02 00:00:00'), 1556, 1.00999999, 1.00999999, 0.0, 0.0, 0.0, 1.00999999, 0.01, 0, 0, 88, 1352, 1327)
inserted
(1624580081, Timestamp('2016-04-03 00:00:00'), 2910, 1.889999986, 1.889999986, 0.0, 0.0, 0.0, 1.879999995, 0.01, 0, 0, 157, 1283, 1452)
inserted
(1624580081, Timestamp('2016-04-04 00:00:00'), 18464, 12.0, 12.0, 0.0, 0.0, 0.0, 12.0, 0.0, 0, 0, 270, 1170, 1574)
inserted
(1624580081, Timestamp('2016-04-05 00:00:00'), 1335, 0.870000005, 0.870000005, 0.0, 0.0, 0.0, 0.870000005, 0.0, 0, 0, 74, 1366, 1308)
inserted
(1624580081, Timestamp('2016-04-06 00:00:00'), 1004, 0.649999976, 0.649999976, 0.0, 0.0, 0.0, 0.649999976, 0.0, 0, 0, 55, 1385, 1276)
inserted
(1624580081, Timestamp('2016-04-07 00:00:00'), 1111, 0.720000029, 0.720000029, 0.0, 0.0, 0.0, 0.720000029, 0.0, 0, 0, 54, 1386, 1278)
inserted
(1624580081, Timestamp('2016-04-08 00:00:00'), 6344, 4.119999886, 4.119999886, 0.0, 0.0, 0.0, 4.099999905, 0.0, 0, 0, 143, 1297, 1409)
inserted
(1624580081, Timestamp('2016-04-09 00:00:00'), 3572, 2.319999933, 2.319999933, 0.0, 0.0, 0.0, 2.289999962, 0.029999999, 0, 0, 122, 1318, 1370)
inserted
(1624580081, Timestamp('2016-04-10 00:00:00'), 3910, 2.539999962, 2.539999962, 0.0, 0.469999999, 0.25, 1.809999943, 0.01, 7, 7, 186, 1240, 1555)
inserted
(1624580081, Timestamp('2016-04-11 00:00:00'), 10000, 6.5, 6.5, 0.0, 0.0, 0.0, 6.5, 0.0, 0, 0, 172, 1268, 1469)
inserted
(1624580081, Timestamp('2016-04-12 00:00:00'), 6627, 4.309999943, 4.309999943, 0.0, 0.0, 0.0, 4.309999943, 0.0, 0, 0, 89, 604, 706)
inserted
(1644430081, Timestamp('2016-04-01 00:00:00'), 4636, 3.410000086, 3.410000086, 0.0, 0.0, 0.779999971, 2.599999905, 0.029999999, 0, 16, 586, 838, 3323)
inserted
(1644430081, Timestamp('2016-04-02 00:00:00'), 20237, 14.71000004, 14.71000004, 0.0, 2.569999933, 6.400000095, 5.730000019, 0.01, 34, 141, 347, 918, 4029)
inserted
(1644430081, Timestamp('2016-04-03 00:00:00'), 12912, 9.409999847, 9.409999847, 0.0, 4.829999924, 0.769999981, 3.789999962, 0.029999999, 59, 16, 283, 1082, 3436)
inserted
(1644430081, Timestamp('2016-04-04 00:00:00'), 2819, 2.049999952, 2.049999952, 0.0, 0.310000002, 0.170000002, 1.559999943, 0.01, 4, 4, 87, 1345, 2444)
inserted
(1644430081, Timestamp('2016-04-05 00:00:00'), 9921, 7.210000038, 7.210000038, 0.0, 0.340000004, 1.519999981, 5.360000134, 0.0, 5, 35, 219, 1181, 3098)
inserted
(1644430081, Timestamp('2016-04-06 00:00:00'), 8046, 5.849999905, 5.849999905, 0.0, 1.289999962, 2.119999886, 2.450000048, 0.0, 18, 41, 137, 1244, 2925)
inserted
(1644430081, Timestamp('2016-04-07 00:00:00'), 11166, 8.119999886, 8.119999886, 0.0, 0.209999993, 2.410000086, 5.5, 0.0, 3, 58, 230, 1149, 3202)
inserted
(1644430081, Timestamp('2016-04-08 00:00:00'), 7842, 5.699999809, 5.699999809, 0.0, 0.479999989, 2.410000086, 2.809999943, 0.0, 7, 43, 161, 1229, 2928)
inserted
(1644430081, Timestamp('2016-04-09 00:00:00'), 13840, 10.06000042, 10.06000042, 0.0, 1.309999943, 3.720000029, 5.03000021, 0.0, 18, 81, 192, 1149, 3290)
inserted
(1644430081, Timestamp('2016-04-10 00:00:00'), 1329, 0.970000029, 0.970000029, 0.0, 0.0, 0.0, 0.970000029, 0.0, 0, 0, 35, 207, 489)
inserted
(1844505072, Timestamp('2016-04-01 00:00:00'), 6847, 4.53000021, 4.53000021, 0.0, 0.610000014, 0.370000005, 3.549999952, 0.0, 9, 9, 251, 1171, 1969)
inserted
(1844505072, Timestamp('2016-04-02 00:00:00'), 5367, 3.549999952, 3.549999952, 0.0, 0.0, 0.0, 3.549999952, 0.0, 0, 0, 263, 1177, 1889)
inserted
(1844505072, Timestamp('2016-04-03 00:00:00'), 2841, 1.879999995, 1.879999995, 0.0, 0.0, 0.0, 1.879999995, 0.0, 0, 0, 136, 1114, 1636)
inserted
(1844505072, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 669, 1347)
inserted
(1844505072, Timestamp('2016-04-05 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347)
inserted
(1844505072, Timestamp('2016-04-06 00:00:00'), 7, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 1, 1439, 1349)
inserted
(1844505072, Timestamp('2016-04-07 00:00:00'), 6344, 4.190000057, 4.190000057, 0.0, 0.0, 0.0, 4.190000057, 0.0, 0, 0, 290, 1150, 1965)
inserted
(1844505072, Timestamp('2016-04-08 00:00:00'), 5316, 3.50999999, 3.50999999, 0.0, 0.0, 0.0, 3.50999999, 0.0, 0, 0, 221, 1219, 1824)

inserted
(1844505072, Timestamp('2016-04-09 00:00:00'), 4979, 3.289999962, 3.289999962, 0.0, 0.0, 0.0, 3.289999962, 0.0, 0, 0, 184, 620, 1807)
inserted
(1844505072, Timestamp('2016-04-10 00:00:00'), 6556, 4.340000153, 4.340000153, 0.0, 0.0, 0.0, 4.329999924, 0.0, 0, 0, 305, 810, 1971)
inserted
(1844505072, Timestamp('2016-04-11 00:00:00'), 5430, 3.589999914, 3.589999914, 0.0, 0.0, 0.0, 3.589999914, 0.0, 0, 0, 251, 1189, 1888)
inserted
(1844505072, Timestamp('2016-04-12 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 426, 399)
inserted
(1927972279, Timestamp('2016-04-01 00:00:00'), 4317, 2.99000001, 2.99000001, 0.0, 0.0, 0.370000005, 2.619999886, 0.0, 0, 11, 192, 854, 2590)
inserted
(1927972279, Timestamp('2016-04-02 00:00:00'), 5662, 3.920000076, 3.920000076, 0.0, 0.0, 0.0, 3.920000076, 0.0, 0, 0, 267, 858, 2783)
inserted
(1927972279, Timestamp('2016-04-03 00:00:00'), 3198, 2.210000038, 2.210000038, 0.0, 0.0, 0.0, 2.210000038, 0.0, 0, 0, 146, 1183, 2449)
inserted
(1927972279, Timestamp('2016-04-04 00:00:00'), 2352, 1.629999995, 1.629999995, 0.0, 0.0, 0.0, 1.629999995, 0.0, 0, 0, 128, 829, 2380)
inserted
(1927972279, Timestamp('2016-04-05 00:00:00'), 2234, 1.549999952, 1.549999952, 0.0, 0.0, 0.0, 1.549999952, 0.0, 0, 0, 108, 912, 2344)
inserted
(1927972279, Timestamp('2016-04-06 00:00:00'), 1259, 0.870000005, 0.870000005, 0.0, 0.0, 0.0, 0.870000005, 0.0, 0, 0, 73, 938, 2202)
inserted
(1927972279, Timestamp('2016-04-07 00:00:00'), 768, 0.529999971, 0.529999971, 0.0, 0.0, 0.0, 0.529999971, 0.0, 0, 0, 43, 1397, 2130)
inserted
(1927972279, Timestamp('2016-04-08 00:00:00'), 519, 0.360000014, 0.360000014, 0.0, 0.0, 0.0, 0.360000014, 0.0, 0, 0, 34, 1406, 2088)
inserted
(1927972279, Timestamp('2016-04-09 00:00:00'), 2523, 1.75, 1.75, 0.0, 0.0, 0.370000005, 1.379999995, 0.0, 0, 9, 134, 1250, 2443)
inserted
(1927972279, Timestamp('2016-04-10 00:00:00'), 2105, 1.460000038, 1.460000038, 0.0, 0.0, 0.0, 1.460000038, 0.0, 0, 0, 139, 805, 2442)
inserted
(1927972279, Timestamp('2016-04-11 00:00:00'), 1209, 0.839999974, 0.839999974, 0.0, 0.0, 0.0, 0.839999974, 0.0, 0, 0, 73, 842, 2255)
inserted
(1927972279, Timestamp('2016-04-12 00:00:00'), 24, 0.02, 0.02, 0.0, 0.0, 0.0, 0.02, 0.0, 0, 0, 3, 161, 942)
inserted
(2022484408, Timestamp('2016-04-01 00:00:00'), 13603, 9.600000381, 9.600000381, 0.0, 5.460000038, 0.629999995, 3.50999999, 0.0, 72, 16, 213, 1139, 2645)
inserted
(2022484408, Timestamp('2016-04-02 00:00:00'), 5477, 3.839999914, 3.839999914, 0.0, 0.0, 0.0, 3.839999914, 0.0, 0, 0, 237, 1203, 2040)
inserted
(2022484408, Timestamp('2016-04-03 00:00:00'), 11144, 7.820000172, 7.820000172, 0.0, 1.789999962, 0.889999986, 5.139999866, 0.0, 25, 22, 279, 1114, 2395)
inserted
(2022484408, Timestamp('2016-04-04 00:00:00'), 15313, 11.0, 11.0, 0.0, 5.019999981, 1.289999962, 4.690000057, 0.0, 62, 19, 233, 1126, 2581)
inserted
(2022484408, Timestamp('2016-04-05 00:00:00'), 10805, 7.590000153, 7.590000153, 0.0, 0.720000029, 0.980000019, 5.889999866, 0.0, 36, 37, 298, 1069, 2735)
inserted
(2022484408, Timestamp('2016-04-06 00:00:00'), 15392, 10.93000031, 10.93000031, 0.0, 3.430000067, 1.75, 5.75, 0.0, 47, 42, 258, 1093, 2733)
inserted
(2022484408, Timestamp('2016-04-07 00:00:00'), 18247, 13.82999992, 13.82999992, 0.0, 7.110000134, 2.210000038, 4.510000229, 0.0, 72, 62, 252, 1054, 3021)
inserted
(2022484408, Timestamp('2016-04-08 00:00:00'), 13023, 9.260000229, 9.260000229, 0.0, 3.230000019, 0.560000002, 5.46999979, 0.0, 40, 12, 296, 1092, 2577)
inserted
(2022484408, Timestamp('2016-04-09 00:00:00'), 16267, 12.59000015, 12.59000015, 0.0, 5.75, 0.469999999, 6.369999886, 0.0, 44, 16, 302, 1078, 2811)
inserted
(2022484408, Timestamp('2016-04-10 00:00:00'), 10005, 7.019999981, 7.019999981, 0.0, 0.079999998, 1.049999952, 5.900000095, 0.0, 1, 23, 339, 1077, 2458)
inserted
(2022484408, Timestamp('2016-04-11 00:00:00'), 10106, 7.090000153, 7.090000153, 0.0, 1.210000038, 0.560000002, 5.329999924, 0.0, 41, 16, 272, 1111, 2568)
inserted
(2022484408, Timestamp('2016-04-12 00:00:00'), 6717, 4.71999979, 4.71999979, 0.0, 3.230000019, 0.219999999, 1.269999981, 0.0, 41, 5, 67, 551, 1140)
inserted
(2026352035, Timestamp('2016-04-01 00:00:00'), 2605, 1.620000005, 1.620000005, 0.0, 0.0, 0.0, 1.620000005, 0.0, 0, 0, 166, 729, 1407)
inserted
(2026352035, Timestamp('2016-04-02 00:00:00'), 1229, 0.75999999, 0.75999999, 0.0, 0.0, 0.0, 0.75999999, 0.0, 0, 0, 69, 795, 1237)
inserted
(2026352035, Timestamp('2016-04-03 00:00:00'), 2308, 1.429999948, 1.429999948, 0.0, 0.0, 0.0, 1.429999948, 0.0, 0, 0, 115, 720, 1330)
inserted
(2026352035, Timestamp('2016-04-04 00:00:00'), 6679, 4.139999866, 4.139999866, 0.0, 0.0, 0.0, 4.139999866, 0.0, 0, 0, 263, 644, 1583)
inserted
(2026352035, Timestamp('2016-04-05 00:00:00'), 5645, 3.5, 3.5, 0.0, 0.0, 0.0, 3.5, 0.0, 0, 0, 248, 621, 1538)
inserted
(2026352035, Timestamp('2016-04-06 00:00:00'), 3180, 1.970000029, 1.970000029, 0.0, 0.0, 0.0, 1.970000029, 0.0, 0, 0, 185, 738, 1421)
inserted
(2026352035, Timestamp('2016-04-07 00:00:00'), 2767, 1.720000029, 1.720000029, 0.0, 0.0, 0.0, 1.720000029, 0.0, 0, 0, 170, 673, 1392)
inserted
(2026352035, Timestamp('2016-04-08 00:00:00'), 3762, 2.329999924, 2.329999924, 0.0, 0.0, 0.0, 2.329999924, 0.0, 0, 0, 173, 719, 1425)
inserted
(2026352035, Timestamp('2016-04-09 00:00:00'), 3098, 1.919999957, 1.919999957, 0.0, 0.0, 0.0, 1.919999957, 0.0, 0, 0, 185, 700, 1413)
inserted
(2026352035, Timestamp('2016-04-10 00:00:00'), 5142, 3.190000057, 3.190000057, 0.0, 0.0, 0.0, 3.190000057, 0.0, 0, 0, 230, 654, 1515)
inserted
(2026352035, Timestamp('2016-04-11 00:00:00'), 3279, 2.029999971, 2.029999971, 0.0, 0.0, 0.0, 2.029999971, 0.0, 0, 0, 164, 694, 1405)
inserted
(2026352035, Timestamp('2016-04-12 00:00:00'), 1019, 0.629999995, 0.629999995, 0.0, 0.0, 0.0, 0.629999995, 0.0, 0, 0, 64, 223, 600)
inserted
(2320127002, Timestamp('2016-04-01 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1324)
inserted
(2320127002, Timestamp('2016-04-02 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1324)
inserted
(2320127002, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1324)
inserted
(2320127002, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1324)
inserted
(2320127002, Timestamp('2016-04-05 00:00:00'), 4931, 3.319999933, 3.319999933, 0.0, 0.0, 0.0, 3.319999933, 0.0, 0, 0, 175, 1265, 1708)
inserted
(2320127002, Timestamp('2016-04-06 00:00:00'), 6999, 4.71999979, 4.71999979, 0.0, 0.0, 0.0, 4.71999979, 0.0, 0, 0, 320, 1120, 1950)
inserted
(2320127002, Timestamp('2016-04-07 00:00:00'), 1846, 1.24000001, 1.24000001, 0.0, 0.0, 0.0, 1.24000001, 0.0, 0, 0, 93, 1347, 1508)
inserted
(2320127002, Timestamp('2016-04-08 00:00:00'), 3417, 2.299999952, 2.299999952, 0.0, 0.0, 0.0, 2.299999952, 0.0, 0, 0, 153, 1287, 1625)
inserted
(2320127002, Timestamp('2016-04-09 00:00:00'), 4863, 3.279999971, 3.279999971, 0.0, 0.059999999, 0.419999987, 2.799999952, 0.0, 1, 11, 208, 1220, 1772)
inserted
(2320127002, Timestamp('2016-04-10 00:00:00'), 2277, 1.529999971, 1.529999971, 0.0, 0.0, 0.0, 1.529999971, 0.0, 0, 0, 103, 1337, 1530)
inserted
(2320127002, Timestamp('2016-04-11 00:00:00'), 11230, 7.670000076, 7.670000076, 0.0, 0.889999986, 0.119999997, 6.659999847, 0.0, 10, 2, 390, 1038, 2206)
inserted
(2320127002, Timestamp('2016-04-12 00:00:00'), 2098, 1.409999967, 1.409999967, 0.0, 0.0, 0.0, 1.409999967, 0.0, 0, 0, 69, 617, 790)
inserted
(2347167796, Timestamp('2016-03-29 00:00:00'), 10272, 6.789999962, 6.789999962, 0.0, 0.159999996, 3.119999886, 3.5, 0.0, 2, 58, 208, 700, 2041)
inserted
(2347167796, Timestamp('2016-03-30 00:00:00'), 10533, 7.099999905, 7.099999905, 0.0, 1.769999981, 2.059999943, 3.269999981, 0.0, 21, 35, 255, 615, 2187)
inserted
(2347167796, Timestamp('2016-03-31 00:00:00'), 6760, 4.46999979, 4.46999979, 0.0, 0.0, 0.0, 4.46999979, 0.0, 0, 0, 250, 613, 1929)
inserted
(2347167796, Timestamp('2016-04-01 00:00:00'), 8328, 5.510000229, 5.510000229, 0.0, 0.0, 2.0, 3.5, 0.0, 0, 33, 212, 804, 1935)
inserted
(2347167796, Timestamp('2016-04-02 00:00:00'), 15459, 10.22000027, 10.22000027, 0.0, 3.589999914, 0.810000002, 5.820000172, 0.0, 51, 16, 327, 583, 2438)
inserted
(2347167796, Timestamp('2016-04-03 00:00:00'), 7485, 4.949999809, 4.949999809, 0.0, 0.0, 0.0, 4.949999809, 0.0, 0, 0, 324, 491, 2035)
inserted
(2347167796, Timestamp('2016-04-04 00:00:00'), 10254, 6.800000191, 6.800000191, 0.0, 1.419999957, 1.230000019, 4.159999847, 0.0, 21, 25, 231, 638, 2099)
inserted
(2347167796, Timestamp('2016-04-05 00:00:00'), 10114, 6.820000172, 6.820000172, 0.0, 1.639999986, 0.479999989, 4.679999828, 0.0, 18, 9, 269, 696, 2096)
inserted
(2347167796, Timestamp('2016-04-06 00:00:00'), 11107, 7.340000153, 7.340000153, 0.0, 0.899999976, 2.75999999, 3.680000067, 0.0, 14, 46, 196, 759, 2058)
inserted
(2347167796, Timestamp('2016-04-07 00:00:00'), 10320, 6.849999905, 6.849999905, 0.0, 0.680000007, 1.230000019, 4.940000057, 0.0, 15, 32, 315, 1002, 2338)
inserted
(2347167796, Timestamp('2016-04-08 00:00:00'), 10209, 6.75, 6.75, 0.0, 0.159999996, 0.349999994, 6.230000019, 0.0, 2, 6, 316, 711, 2104)
inserted
(2347167796, Timestamp('2016-04-09 00:00:00'), 16081, 10.63000011, 10.63000011, 0.0, 1.25, 1.820000052, 7.559999943, 0.0, 16, 32, 401, 970, 2488)
inserted
(2347167796, Timestamp('2016-04-10 00:00:00'), 10078, 6.829999924, 6.829999924, 0.0, 1.019999981, 0.119999997, 5.690000057, 0.0, 12, 3, 303, 463, 2164)
inserted
(2347167796, Timestamp('2016-04-11 00:00:00'), 10001, 6.610000134, 6.610000134, 0.0, 0.330000013, 2.930000067, 3.359999895, 0.0, 5, 52, 196, 788, 2009)
inserted
(2347167796, Timestamp('2016-04-12 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 425, 399)
inserted
(2873212765, Timestamp('2016-04-01 00:00:00'), 890, 0.600000024, 0.600000024, 0.0, 0.0, 0.0, 0.600000024, 0.0, 0, 0, 41, 1399, 1335)
inserted
(2873212765, Timestamp('2016-04-02 00:00:00'), 2214, 1.49000001, 1.49000001, 0.0, 0.0, 0.0, 1.49000001, 0.0, 0, 0, 197, 1243, 1559)
inserted
(2873212765, Timestamp('2016-04-03 00:00:00'), 7640, 5.130000114, 5.130000114, 0.0, 0.189999998, 0.800000012, 4.150000095, 0.0, 3, 15, 315, 1107, 1845)
inserted
(2873212765, Timestamp('2016-04-04 00:00:00'), 9713, 6.53000021, 6.53000021, 0.0, 0.340000004, 0.889999986, 5.289999962, 0.0, 6, 24, 355, 1055, 2046)
inserted
(2873212765, Timestamp('2016-04-05 00:00:00'), 8432, 5.670000076, 5.670000076, 0.0, 0.0, 0.0, 5.650000095, 0.01, 0, 0, 374, 1066, 1953)
inserted
(2873212765, Timestamp('2016-04-06 00:00:00'), 7350, 4.940000057, 4.940000057, 0.0, 0.0, 0.0, 4.940000057, 0.0, 0, 0, 382, 1058, 1910)
inserted
(2873212765, Timestamp('2016-04-07 00:00:00'), 9353, 6.309999943, 6.309999943, 0.0, 0.370000005, 0.689999998, 5.239999771, 0.0, 5, 17, 363, 1055, 2035)
inserted
(2873212765, Timestamp('2016-04-08 00:00:00'), 7157, 4.809999943, 4.809999943, 0.0, 0.0, 0.0, 4.809999943, 0.0, 0, 0, 380, 1060, 1944)
inserted
(2873212765, Timestamp('2016-04-09 00:00:00'), 14103, 9.56000042, 9.56000042, 0.0, 3.019999981, 0.409999996, 6.139999866, 0.01, 46, 8, 288, 1098, 2257)
inserted
(2873212765, Timestamp('2016-04-10 00:00:00'), 5290, 3.549999952, 3.549999952, 0.0, 0.039999999, 0.340000004, 3.170000076, 0.0, 1, 8, 251, 1180, 1724)
inserted
(2873212765, Timestamp('2016-04-11 00:00:00'), 7497, 5.039999962, 5.039999962, 0.0, 0.0, 0.0, 5.039999962, 0.0, 0, 0, 357, 882, 1741)
inserted
(2873212765, Timestamp('2016-04-12 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 0)
inserted
(2891001357, Timestamp('2016-03-29 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1920)
inserted
(2891001357, Timestamp('2016-03-30 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1920)
inserted
(2891001357, Timestamp('2016-03-31 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1920)
inserted
(2891001357, Timestamp('2016-04-01 00:00:00'), 0, 0.0, 0.0, 4.828032017, 0.0, 0.0, 0.0, 0.0, 0, 660, 0, 780, 4562)
inserted
(2891001357, Timestamp('2016-04-02 00:00:00'), 4126, 3.220000029, 0.0, 3.218688011, 0.0, 0.0, 3.220000029, 0.0, 0, 0, 720, 720, 2881)
inserted
(2891001357, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1920)
inserted
(2891001357, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1920)
inserted
(2891001357, Timestamp('2016-04-05 00:00:00'), 2063, 1.610000014, 0.0, 1.609344006, 0.0, 0.0, 1.610000014, 0.0, 0, 0, 630, 99, 1144)
inserted
(3372868164, Timestamp('2016-04-01 00:00:00'), 5785, 3.950000048, 3.950000048, 0.0, 0.0, 0.0, 3.910000086, 0.039999999, 0, 0, 311, 1129, 1852)
inserted
(3372868164, Timestamp('2016-04-02 00:00:00'), 7625, 5.230000019, 5.230000019, 0.0, 1.679999948, 0.039999999, 3.5, 0.01, 24, 1, 341, 1074, 2069)
inserted
(3372868164, Timestamp('2016-04-03 00:00:00'), 4706, 3.210000038, 3.210000038, 0.0, 0.0, 0.0, 3.210000038, 0.0, 0, 0, 299, 1141, 1816)
inserted
(3372868164, Timestamp('2016-04-04 00:00:00'), 5861, 4.019999981, 4.019999981, 0.0, 1.299999952, 0.219999999, 2.49000001, 0.01, 20, 7, 233, 1180, 1878)
inserted
(3372868164, Timestamp('2016-04-05 00:00:00'), 4460, 3.039999962, 3.039999962, 0.0, 0.0, 0.0, 3.019999981, 0.029999999, 0, 0, 248, 1192, 1787)
inserted
(3372868164, Timestamp('2016-04-06 00:00:00'), 6406, 4.389999866, 4.389999866, 0.0, 0.779999971, 0.090000004, 3.519999981, 0.01, 17, 4, 325, 1094, 2010)
inserted
(3372868164, Timestamp('2016-04-07 00:00:00'), 7392, 5.099999905, 5.099999905, 0.0, 0.870000005, 0.159999996, 4.050000191, 0.02, 14, 9, 332, 1085, 2038)
inserted
(3372868164, Timestamp('2016-04-08 00:00:00'), 5551, 3.789999962, 3.789999962, 0.0, 0.0, 0.0, 3.769999981, 0.01, 0, 0, 282, 1158, 1815)
inserted
(3372868164, Timestamp('2016-04-09 00:00:00'), 8827, 6.25, 6.25, 0.0, 1.769999981, 0.479999989, 4.0, 0.01, 21, 10, 346, 1063, 2062)
inserted
(3372868164, Timestamp('2016-04-10 00:00:00'), 4662, 3.180000067, 3.180000067, 0.0, 1.039999962, 0.150000006, 1.99000001, 0.0, 22, 4, 152, 735, 1276)
inserted
(3977333714, Timestamp('2016-04-01 00:00:00'), 4499, 3.00999999, 3.00999999, 0.0, 0.0, 0.0, 3.00999999, 0.0, 0, 0, 168, 842, 1288)
inserted
(3977333714, Timestamp('2016-04-02 00:00:00'), 7618, 5.099999905, 5.099999905, 0.0, 0.0, 0.180000007, 4.909999847, 0.0, 0, 6, 302, 842, 1490)
inserted
(3977333714, Timestamp('2016-04-03 00:00:00'), 11508, 7.699999809, 7.699999809, 0.0, 2.170000076, 0.839999974, 4.690000057, 0.0, 29, 22, 282, 748, 1630)
inserted
(3977333714, Timestamp('2016-04-04 00:00:00'), 11943, 7.989999771, 7.989999771, 0.0, 1.029999971, 2.00999999, 4.949999809, 0.0, 16, 43, 297, 710, 1648)
inserted
(3977333714, Timestamp('2016-04-05 00:00:00'), 12303, 8.229999542, 8.229999542, 0.0, 1.710000038, 1.350000024, 5.170000076, 0.0, 26, 32, 291, 605, 1649)
inserted
(3977333714, Timestamp('2016-04-06 00:00:00'), 15425, 10.31999969, 10.31999969, 0.0, 1.620000005, 1.820000052, 6.869999886, 0.0, 24, 45, 331, 614, 1783)
inserted
(3977333714, Timestamp('2016-04-07 00:00:00'), 8422, 5.630000114, 5.630000114, 0.0, 0.0, 3.599999905, 2.039999962, 0.0, 0, 81, 139, 815, 1431)
inserted
(3977333714, Timestamp('2016-04-08 00:00:00'), 10226, 6.840000153, 6.840000153, 0.0, 0.0, 4.440000057, 2.400000095, 0.0, 0, 101, 174, 685, 1524)
inserted
(3977333714, Timestamp('2016-04-09 00:00:00'), 14583, 9.760000229, 9.760000229, 0.0, 2.480000019, 1.74000001, 5.53000021, 0.0, 35, 36, 254, 697, 1697)
inserted
(3977333714, Timestamp('2016-04-10 00:00:00'), 3573, 2.390000105, 2.390000105, 0.0, 0.939999998, 0.409999996, 0.970000029, 0.0, 15, 8, 99, 866, 1232)
inserted
(3977333714, Timestamp('2016-04-11 00:00:00'), 3108, 2.140000105, 2.140000105, 0.0, 0.07, 0.039999999, 1.960000038, 0.0, 1, 1, 129, 894, 1223)

inserted
(3977333714, Timestamp('2016-04-12 00:00:00'), 759, 0.569999993, 0.569999993, 0.0, 0.0, 0.0, 0.569999993, 0.0, 0, 0, 17, 187, 182)
inserted
(4020332650, Timestamp('2016-03-12 00:00:00'), 5543, 3.970000029, 3.970000029, 0.0, 0.0, 0.0, 3.960000038, 0.01, 0, 0, 254, 757, 2990)
inserted
(4020332650, Timestamp('2016-03-13 00:00:00'), 3226, 2.309999943, 2.309999943, 0.0, 0.0, 0.0, 2.279999971, 0.0, 0, 0, 136, 771, 2480)
inserted
(4020332650, Timestamp('2016-03-14 00:00:00'), 3023, 2.170000076, 2.170000076, 0.0, 0.0, 0.0, 2.140000105, 0.0, 0, 0, 145, 1005, 2570)
inserted
(4020332650, Timestamp('2016-03-15 00:00:00'), 5906, 4.230000019, 4.230000019, 0.0, 0.0, 0.159999996, 4.039999962, 0.0, 0, 10, 215, 874, 3016)
inserted
(4020332650, Timestamp('2016-03-16 00:00:00'), 12483, 8.989999771, 8.989999771, 0.0, 1.450000048, 0.569999993, 6.900000095, 0.0, 25, 14, 309, 599, 3830)
inserted
(4020332650, Timestamp('2016-03-17 00:00:00'), 8940, 6.409999847, 6.409999847, 0.0, 0.0, 0.0, 0.610000014, 0.039999999, 0, 0, 47, 986, 3706)
inserted
(4020332650, Timestamp('2016-03-18 00:00:00'), 368, 0.25999999, 0.25999999, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2024)
inserted
(4020332650, Timestamp('2016-03-19 00:00:00'), 5702, 4.090000153, 4.090000153, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2980)
inserted
(4020332650, Timestamp('2016-03-20 00:00:00'), 10330, 7.409999847, 7.409999847, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3728)
inserted
(4020332650, Timestamp('2016-03-21 00:00:00'), 8778, 6.289999962, 6.289999962, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3348)
inserted
(4020332650, Timestamp('2016-03-22 00:00:00'), 6662, 4.78000021, 4.78000021, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3162)
inserted
(4020332650, Timestamp('2016-03-23 00:00:00'), 6309, 4.519999981, 4.519999981, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3140)
inserted
(4020332650, Timestamp('2016-03-24 00:00:00'), 1951, 1.409999967, 1.409999967, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1980)
inserted
(4020332650, Timestamp('2016-03-25 00:00:00'), 5563, 3.99000001, 3.99000001, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3681)
inserted
(4020332650, Timestamp('2016-03-26 00:00:00'), 4370, 3.130000114, 3.130000114, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3444)
inserted
(4020332650, Timestamp('2016-03-27 00:00:00'), 7144, 5.119999886, 5.119999886, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 3510)
inserted
(4020332650, Timestamp('2016-03-28 00:00:00'), 2106, 1.50999999, 1.50999999, 0.0, 0.02, 0.050000001, 0.209999993, 0.0, 31, 45, 75, 1289, 4010)
inserted
(4020332650, Timestamp('2016-03-29 00:00:00'), 4152, 2.980000019, 2.980000019, 0.0, 0.0, 0.0, 2.960000038, 0.0, 0, 0, 187, 1253, 2976)
inserted
(4020332650, Timestamp('2016-03-30 00:00:00'), 5400, 3.869999886, 3.869999886, 0.0, 0.0, 0.0, 3.849999905, 0.0, 0, 0, 258, 795, 3418)
inserted
(4020332650, Timestamp('2016-03-31 00:00:00'), 7428, 5.329999924, 5.329999924, 0.0, 0.870000005, 0.920000017, 3.50999999, 0.0, 18, 33, 261, 860, 3439)
inserted
(4020332650, Timestamp('2016-04-01 00:00:00'), 5351, 3.839999914, 3.839999914, 0.0, 0.620000005, 0.180000007, 3.00999999, 0.0, 15, 17, 210, 748, 3338)
inserted
(4020332650, Timestamp('2016-04-02 00:00:00'), 4299, 3.099999905, 3.099999905, 0.0, 0.090000004, 0.209999993, 2.74000001, 0.039999999, 3, 15, 162, 752, 2892)
inserted
(4020332650, Timestamp('2016-04-03 00:00:00'), 6107, 4.380000114, 4.380000114, 0.0, 0.0, 0.0, 4.360000134, 0.0, 0, 0, 265, 776, 3313)
inserted
(4020332650, Timestamp('2016-04-04 00:00:00'), 6429, 4.599999905, 4.599999905, 0.0, 0.0, 0.949999988, 3.650000095, 0.0, 0, 28, 193, 741, 3118)
inserted
(4020332650, Timestamp('2016-04-05 00:00:00'), 6880, 4.929999828, 4.929999828, 0.0, 0.5, 0.75999999, 3.650000095, 0.0, 7, 19, 165, 1249, 2966)
inserted
(4020332650, Timestamp('2016-04-06 00:00:00'), 7476, 5.360000134, 5.360000134, 0.0, 0.0, 0.0, 5.309999943, 0.0, 0, 0, 263, 920, 3253)
inserted
(4020332650, Timestamp('2016-04-07 00:00:00'), 6581, 4.71999979, 4.71999979, 0.0, 0.0, 0.289999992, 4.389999866, 0.0, 0, 8, 241, 1191, 3032)
inserted
(4020332650, Timestamp('2016-04-08 00:00:00'), 10480, 7.510000229, 7.510000229, 0.0, 0.409999996, 1.470000029, 5.010000229, 0.039999999, 6, 37, 272, 1125, 4034)
inserted
(4020332650, Timestamp('2016-04-09 00:00:00'), 7734, 5.550000191, 5.550000191, 0.0, 1.159999967, 0.49000001, 3.819999933, 0.059999999, 20, 12, 223, 1185, 3264)
inserted
(4020332650, Timestamp('2016-04-10 00:00:00'), 5129, 3.680000067, 3.680000067, 0.0, 0.180000007, 0.239999995, 3.210000038, 0.01, 5, 7, 176, 1178, 2817)
inserted
(4020332650, Timestamp('2016-04-11 00:00:00'), 2993, 2.150000095, 2.150000095, 0.0, 0.0, 0.0, 2.089999914, 0.0, 0, 0, 114, 888, 2507)
inserted
(4020332650, Timestamp('2016-04-12 00:00:00'), 8, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 1, 321, 446)
inserted
(4057192912, Timestamp('2016-03-12 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1777)
inserted
(4057192912, Timestamp('2016-03-13 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1777)
inserted
(4057192912, Timestamp('2016-03-14 00:00:00'), 8433, 6.230000019, 6.230000019, 0.0, 2.450000048, 0.330000013, 3.440000057, 0.0, 30, 7, 135, 1268, 2453)
inserted
(4057192912, Timestamp('2016-03-15 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-03-16 00:00:00'), 2139, 1.559999943, 1.559999943, 0.0, 0.0, 1.299999952, 0.25999999, 0.0, 0, 28, 15, 1397, 1935)
inserted
(4057192912, Timestamp('2016-03-17 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-03-18 00:00:00'), 949, 0.689999998, 0.689999998, 0.0, 0.0, 0.0, 0.689999998, 0.0, 0, 0, 34, 1406, 1870)
inserted
(4057192912, Timestamp('2016-03-19 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1777)
inserted
(4057192912, Timestamp('2016-03-20 00:00:00'), 44, 0.029999999, 0.029999999, 0.0, 0.0, 0.0, 0.029999999, 0.0, 0, 0, 2, 1438, 1782)
inserted
(4057192912, Timestamp('2016-03-21 00:00:00'), 2660, 1.940000057, 1.940000057, 0.0, 0.0, 0.0, 1.940000057, 0.0, 0, 0, 46, 1394, 1978)
inserted
(4057192912, Timestamp('2016-03-22 00:00:00'), 5561, 4.190000057, 4.190000057, 0.0, 0.0, 0.0, 4.070000172, 0.0, 0, 0, 169, 1271, 2296)
inserted
(4057192912, Timestamp('2016-03-23 00:00:00'), 7239, 5.340000153, 5.340000153, 0.0, 0.550000012, 0.360000014, 4.380000114, 0.0, 7, 7, 190, 1236, 2484)
inserted
(4057192912, Timestamp('2016-03-24 00:00:00'), 7, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 1, 1439, 1787)
inserted
(4057192912, Timestamp('2016-03-25 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-03-26 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-03-27 00:00:00'), 2275, 1.679999948, 1.679999948, 0.0, 0.0, 0.0, 1.659999967, 0.0, 0, 0, 86, 1354, 2005)
inserted
(4057192912, Timestamp('2016-03-28 00:00:00'), 8, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 1, 1439, 1778)
inserted
(4057192912, Timestamp('2016-03-29 00:00:00'), 5137, 3.75999999, 3.75999999, 0.0, 0.0, 0.0, 3.75999999, 0.0, 0, 0, 160, 1280, 2293)
inserted
(4057192912, Timestamp('2016-03-30 00:00:00'), 5419, 4.0, 4.570000172, 0.055842999, 0.0, 0.0, 3.910000086, 0.059999999, 0, 0, 145, 1295, 2259)
inserted
(4057192912, Timestamp('2016-03-31 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-04-01 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-04-02 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-04-05 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1776)
inserted
(4057192912, Timestamp('2016-04-06 00:00:00'), 18, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 2, 1438, 1780)
inserted
(4057192912, Timestamp('2016-04-07 00:00:00'), 4, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 1, 1439, 1778)
inserted
(4057192912, Timestamp('2016-04-08 00:00:00'), 8426, 6.159999847, 6.159999847, 0.0, 0.129999995, 5.489999771, 0.540000021, 0.0, 2, 120, 25, 1293, 2360)
inserted
(4057192912, Timestamp('2016-04-09 00:00:00'), 1650, 1.210000038, 1.210000038, 0.0, 0.0, 0.0, 1.210000038, 0.0, 0, 0, 60, 1380, 1952)
inserted
(4057192912, Timestamp('2016-04-10 00:00:00'), 3434, 2.50999999, 2.50999999, 0.0, 0.07, 0.300000012, 2.140000105, 0.0, 1, 7, 108, 1324, 2101)
inserted
(4057192912, Timestamp('2016-04-11 00:00:00'), 6801, 4.980000019, 4.980000019, 0.0, 0.0, 0.0, 4.96999979, 0.0, 0, 0, 193, 1247, 2393)
inserted
(4057192912, Timestamp('2016-04-12 00:00:00'), 187, 0.140000001, 0.140000001, 0.0, 0.0, 0.0, 0.140000001, 0.0, 0, 0, 11, 400, 538)
inserted
(4319703577, Timestamp('2016-03-29 00:00:00'), 5643, 3.789999962, 3.789999962, 0.0, 0.230000004, 0.330000013, 3.230000019, 0.0, 3, 8, 199, 683, 1958)
inserted
(4319703577, Timestamp('2016-03-30 00:00:00'), 9043, 6.070000172, 6.070000172, 0.0, 0.25, 0.430000007, 5.369999886, 0.0, 4, 12, 244, 702, 2141)
inserted
(4319703577, Timestamp('2016-03-31 00:00:00'), 8144, 5.460000038, 5.460000038, 0.0, 0.25, 0.610000014, 4.610000134, 0.0, 4, 17, 247, 1125, 2129)
inserted
(4319703577, Timestamp('2016-04-01 00:00:00'), 9343, 6.269999981, 6.269999981, 0.0, 0.959999979, 0.850000024, 4.460000038, 0.0, 14, 20, 268, 654, 2216)
inserted
(4319703577, Timestamp('2016-04-02 00:00:00'), 8405, 5.659999847, 5.659999847, 0.0, 1.129999995, 0.189999998, 4.340000153, 0.0, 15, 4, 257, 621, 2154)
inserted
(4319703577, Timestamp('2016-04-03 00:00:00'), 8223, 5.519999981, 5.519999981, 0.0, 0.800000012, 1.50999999, 3.210000038, 0.0, 12, 37, 257, 551, 2178)
inserted
(4319703577, Timestamp('2016-04-04 00:00:00'), 10067, 6.760000229, 6.760000229, 0.0, 0.360000014, 1.419999957, 4.96999979, 0.0, 5, 39, 313, 578, 2308)
inserted
(4319703577, Timestamp('2016-04-05 00:00:00'), 8359, 5.630000114, 5.630000114, 0.0, 0.230000004, 0.529999971, 4.869999886, 0.0, 3, 14, 311, 638, 2201)
inserted
(4319703577, Timestamp('2016-04-06 00:00:00'), 10946, 7.349999905, 7.349999905, 0.0, 0.540000021, 2.089999914, 4.71999979, 0.0, 8, 51, 308, 569, 2341)
inserted
(4319703577, Timestamp('2016-04-07 00:00:00'), 9130, 6.150000095, 6.150000095, 0.0, 0.5, 0.379999995, 5.269999981, 0.0, 7, 11, 304, 668, 2236)
inserted
(4319703577, Timestamp('2016-04-08 00:00:00'), 6544, 4.409999847, 4.409999847, 0.0, 0.289999992, 0.25999999, 3.859999895, 0.0, 4, 6, 276, 1132, 2069)
inserted
(4319703577, Timestamp('2016-04-09 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 0)
inserted
(4388161847, Timestamp('2016-03-29 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-03-30 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-03-31 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-04-01 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-04-02 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1878)
inserted
(4388161847, Timestamp('2016-04-05 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 994, 1296)
inserted
(4445114986, Timestamp('2016-03-29 00:00:00'), 2303, 1.549999952, 1.549999952, 0.0, 0.0, 0.0, 1.549999952, 0.0, 0, 0, 155, 807, 2010)
inserted
(4445114986, Timestamp('2016-03-30 00:00:00'), 2600, 1.74000001, 1.74000001, 0.0, 0.0, 0.0, 1.74000001, 0.0, 0, 0, 163, 1277, 2032)
inserted
(4445114986, Timestamp('2016-03-31 00:00:00'), 4804, 3.220000029, 3.220000029, 0.0, 0.0, 0.0, 3.220000029, 0.0, 0, 0, 238, 786, 2227)
inserted
(4445114986, Timestamp('2016-04-01 00:00:00'), 3271, 2.190000057, 2.190000057, 0.0, 0.0, 0.0, 2.190000057, 0.0, 0, 0, 205, 898, 2133)
inserted
(4445114986, Timestamp('2016-04-02 00:00:00'), 5406, 3.630000114, 3.630000114, 0.0, 0.0, 0.0, 3.609999895, 0.0, 0, 0, 273, 672, 2317)
inserted
(4445114986, Timestamp('2016-04-03 00:00:00'), 3146, 2.109999895, 2.109999895, 0.0, 0.0, 0.0, 2.109999895, 0.0, 0, 0, 171, 1269, 2058)
inserted
(4445114986, Timestamp('2016-04-04 00:00:00'), 2422, 1.629999995, 1.629999995, 0.0, 0.0, 0.0, 1.629999995, 0.0, 0, 0, 110, 1330, 1935)
inserted
(4445114986, Timestamp('2016-04-05 00:00:00'), 4239, 2.839999914, 2.839999914, 0.0, 0.059999999, 0.239999995, 2.529999971, 0.0, 1, 6, 235, 702, 2217)
inserted
(4445114986, Timestamp('2016-04-06 00:00:00'), 6911, 4.78000021, 4.78000021, 0.0, 2.319999933, 0.100000001, 2.359999895, 0.0, 28, 2, 215, 745, 2374)
inserted
(4445114986, Timestamp('2016-04-07 00:00:00'), 6667, 4.610000134, 4.610000134, 0.0, 2.019999981, 0.050000001, 2.549999952, 0.0, 24, 1, 208, 939, 2335)
inserted
(4445114986, Timestamp('2016-04-08 00:00:00'), 5543, 3.720000029, 3.720000029, 0.0, 0.0, 0.0, 3.720000029, 0.0, 0, 0, 266, 941, 2303)
inserted
(4445114986, Timestamp('2016-04-09 00:00:00'), 4195, 2.809999943, 2.809999943, 0.0, 0.0, 0.0, 2.809999943, 0.0, 0, 0, 239, 758, 2210)
inserted
(4445114986, Timestamp('2016-04-10 00:00:00'), 6625, 4.449999809, 4.449999809, 0.0, 0.0, 0.0, 4.449999809, 0.0, 0, 0, 316, 755, 2424)
inserted
(4445114986, Timestamp('2016-04-11 00:00:00'), 5986, 4.130000114, 4.130000114, 0.0, 1.950000048, 0.230000004, 1.950000048, 0.0, 23, 5, 195, 789, 2297)
inserted
(4445114986, Timestamp('2016-04-12 00:00:00'), 278, 0.189999998, 0.189999998, 0.0, 0.0, 0.0, 0.189999998, 0.0, 0, 0, 20, 253, 745)
inserted
(4558609924, Timestamp('2016-04-01 00:00:00'), 5336, 3.529999971, 3.529999971, 0.0, 0.0, 0.0, 3.529999971, 0.0, 0, 0, 258, 1182, 1902)
inserted
(4558609924, Timestamp('2016-04-02 00:00:00'), 3183, 2.099999905, 2.099999905, 0.0, 0.0, 0.0, 2.099999905, 0.0, 0, 0, 173, 1180, 1680)
inserted
(4558609924, Timestamp('2016-04-03 00:00:00'), 6176, 4.079999924, 4.079999924, 0.0, 0.07, 0.25999999, 3.75, 0.0, 1, 7, 269, 886, 1901)
inserted
(4558609924, Timestamp('2016-04-04 00:00:00'), 8205, 5.420000076, 5.420000076, 0.0, 0.0, 0.0, 5.420000076, 0.0, 0, 0, 367, 1073, 2078)
inserted
(4558609924, Timestamp('2016-04-05 00:00:00'), 6799, 4.489999771, 4.489999771, 0.0, 1.590000033, 0.860000014, 2.039999962, 0.0, 24, 14, 185, 1217, 1876)
inserted
(4558609924, Timestamp('2016-04-06 00:00:00'), 5668, 3.75, 3.75, 0.0, 0.0, 0.0, 3.75, 0.0, 0, 0, 259, 1181, 1853)
inserted
(4558609924, Timestamp('2016-04-07 00:00:00'), 7998, 5.289999962, 5.289999962, 0.0, 0.50999999, 0.25, 4.53000021, 0.0, 27, 12, 296, 1105, 2235)
inserted
(4558609924, Timestamp('2016-04-08 00:00:00'), 4195, 2.769999981, 2.769999981, 0.0, 0.0, 0.0, 2.769999981, 0.0, 0, 0, 241, 1199, 1778)
inserted
(4558609924, Timestamp('2016-04-09 00:00:00'), 5512, 3.640000105, 3.640000105, 0.0, 0.0, 0.0, 3.640000105, 0.0, 0, 0, 276, 1164, 1882)

inserted
(4558609924, Timestamp('2016-04-10 00:00:00'), 6263, 4.139999866, 4.139999866, 0.0, 0.0, 0.0, 4.130000114, 0.0, 0, 0, 290, 1150, 1906)
inserted
(4558609924, Timestamp('2016-04-11 00:00:00'), 8828, 5.840000153, 5.840000153, 0.0, 0.0, 0.0, 5.840000153, 0.0, 0, 0, 308, 1132, 2149)
inserted
(4558609924, Timestamp('2016-04-12 00:00:00'), 1260, 0.829999983, 0.829999983, 0.0, 0.0, 0.0, 0.819999993, 0.0, 0, 0, 76, 555, 722)
inserted
(4702921684, Timestamp('2016-03-29 00:00:00'), 6506, 5.28000021, 5.28000021, 0.0, 0.330000013, 0.270000011, 4.670000076, 0.0, 4, 5, 241, 760, 2886)
inserted
(4702921684, Timestamp('2016-03-30 00:00:00'), 7583, 6.150000095, 6.150000095, 0.0, 0.25, 0.550000012, 5.349999905, 0.0, 3, 13, 227, 742, 2915)
inserted
(4702921684, Timestamp('2016-03-31 00:00:00'), 6963, 5.650000095, 5.650000095, 0.0, 0.0, 0.0, 5.650000095, 0.0, 0, 0, 256, 759, 2895)
inserted
(4702921684, Timestamp('2016-04-01 00:00:00'), 7165, 5.809999943, 5.809999943, 0.0, 0.0, 0.370000005, 5.440000057, 0.0, 0, 9, 248, 708, 2923)
inserted
(4702921684, Timestamp('2016-04-02 00:00:00'), 10328, 8.380000114, 8.380000114, 0.0, 0.0, 1.460000038, 6.920000076, 0.0, 0, 32, 367, 475, 3323)
inserted
(4702921684, Timestamp('2016-04-03 00:00:00'), 12116, 9.829999924, 9.829999924, 0.0, 0.25, 2.849999905, 6.71999979, 0.0, 3, 57, 323, 471, 3357)
inserted
(4702921684, Timestamp('2016-04-04 00:00:00'), 7810, 6.360000134, 6.360000134, 0.0, 0.479999989, 1.200000048, 4.679999828, 0.0, 6, 27, 216, 746, 2931)
inserted
(4702921684, Timestamp('2016-04-05 00:00:00'), 6670, 5.409999847, 5.409999847, 0.0, 1.24000001, 0.800000012, 3.369999886, 0.0, 15, 16, 199, 770, 2848)
inserted
(4702921684, Timestamp('2016-04-06 00:00:00'), 7605, 6.179999828, 6.179999828, 0.0, 0.330000013, 0.209999993, 5.630000114, 0.0, 4, 4, 248, 708, 2943)
inserted
(4702921684, Timestamp('2016-04-07 00:00:00'), 6585, 5.340000153, 5.340000153, 0.0, 0.0, 0.0, 5.340000153, 0.0, 0, 0, 210, 770, 2822)
inserted
(4702921684, Timestamp('2016-04-08 00:00:00'), 8184, 6.639999866, 6.639999866, 0.0, 0.0, 0.620000005, 5.949999809, 0.0, 0, 15, 247, 808, 2981)
inserted
(4702921684, Timestamp('2016-04-09 00:00:00'), 14002, 11.35999966, 11.35999966, 0.0, 0.610000014, 2.680000067, 8.06000042, 0.0, 8, 56, 381, 407, 3597)
inserted
(4702921684, Timestamp('2016-04-10 00:00:00'), 11135, 9.029999733, 9.029999733, 0.0, 0.079999998, 1.159999967, 7.789999962, 0.0, 1, 25, 331, 528, 3224)
inserted
(4702921684, Timestamp('2016-04-11 00:00:00'), 6499, 5.269999981, 5.269999981, 0.0, 0.0, 0.0, 5.269999981, 0.0, 0, 0, 207, 809, 2677)
inserted
(4702921684, Timestamp('2016-04-12 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 0)
inserted
(5553957443, Timestamp('2016-04-01 00:00:00'), 12409, 8.100000381, 8.100000381, 0.0, 2.900000095, 0.629999995, 4.579999924, 0.0, 51, 12, 235, 782, 2142)
inserted
(5553957443, Timestamp('2016-04-02 00:00:00'), 2937, 1.919999957, 1.919999957, 0.0, 0.0, 0.0, 1.909999967, 0.0, 0, 0, 181, 356, 1615)
inserted
(5553957443, Timestamp('2016-04-03 00:00:00'), 1515, 0.99000001, 0.99000001, 0.0, 0.0, 0.0, 0.99000001, 0.0, 0, 0, 93, 507, 1481)
inserted
(5553957443, Timestamp('2016-04-04 00:00:00'), 8921, 5.880000114, 5.880000114, 0.0, 2.069999933, 0.439999998, 3.359999895, 0.0, 27, 8, 198, 754, 1892)
inserted
(5553957443, Timestamp('2016-04-05 00:00:00'), 11306, 7.380000114, 7.380000114, 0.0, 2.309999943, 0.980000019, 4.090000153, 0.0, 40, 26, 218, 772, 2086)
inserted
(5553957443, Timestamp('2016-04-06 00:00:00'), 12252, 8.0, 8.0, 0.0, 2.410000086, 1.700000048, 3.890000105, 0.0, 33, 28, 229, 745, 2044)
inserted
(5553957443, Timestamp('2016-04-07 00:00:00'), 15444, 10.07999992, 10.07999992, 0.0, 3.269999981, 1.730000019, 5.079999924, 0.0, 51, 39, 243, 731, 2249)
inserted
(5553957443, Timestamp('2016-04-08 00:00:00'), 9938, 6.489999771, 6.489999771, 0.0, 2.140000105, 1.279999971, 3.079999924, 0.0, 38, 24, 193, 767, 2019)
inserted
(5553957443, Timestamp('2016-04-09 00:00:00'), 4599, 3.0, 3.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0, 0, 176, 578, 1692)
inserted
(5553957443, Timestamp('2016-04-10 00:00:00'), 5594, 3.650000095, 3.650000095, 0.0, 0.280000001, 1.480000019, 1.889999986, 0.0, 4, 25, 150, 552, 1712)
inserted
(5553957443, Timestamp('2016-04-11 00:00:00'), 11906, 7.769999981, 7.769999981, 0.0, 2.25999999, 1.519999981, 3.99000001, 0.0, 32, 27, 234, 688, 2065)
inserted
(5553957443, Timestamp('2016-04-12 00:00:00'), 3436, 2.24000001, 2.24000001, 0.0, 0.5, 0.670000017, 1.049999952, 0.0, 7, 11, 50, 61, 633)
inserted
(5577150313, Timestamp('2016-04-01 00:00:00'), 10461, 7.869999886, 7.869999886, 0.0, 4.760000229, 0.850000024, 2.25, 0.0, 99, 31, 142, 721, 3625)
inserted
(5577150313, Timestamp('2016-04-02 00:00:00'), 14873, 11.10999966, 11.10999966, 0.0, 8.18999958, 0.600000024, 2.309999943, 0.0, 202, 36, 153, 663, 4430)
inserted
(5577150313, Timestamp('2016-04-03 00:00:00'), 9917, 7.409999847, 7.409999847, 0.0, 1.99000001, 0.970000029, 4.440000057, 0.0, 58, 27, 240, 700, 3427)
inserted
(5577150313, Timestamp('2016-04-04 00:00:00'), 7401, 5.559999943, 5.559999943, 0.0, 2.319999933, 0.360000014, 2.880000114, 0.0, 70, 19, 204, 689, 3492)
inserted
(5577150313, Timestamp('2016-04-05 00:00:00'), 8964, 6.699999809, 6.699999809, 0.0, 3.970000029, 0.189999998, 2.529999971, 0.0, 107, 18, 145, 756, 3597)
inserted
(5577150313, Timestamp('2016-04-06 00:00:00'), 11080, 8.300000191, 8.300000191, 0.0, 3.130000114, 1.370000005, 3.809999943, 0.0, 83, 52, 190, 695, 3765)
inserted
(5577150313, Timestamp('2016-04-07 00:00:00'), 4499, 3.359999895, 3.359999895, 0.0, 0.889999986, 0.25999999, 2.210000038, 0.0, 31, 11, 146, 756, 2775)
inserted
(5577150313, Timestamp('2016-04-08 00:00:00'), 4363, 3.25999999, 3.25999999, 0.0, 0.129999995, 0.059999999, 3.079999924, 0.0, 8, 2, 156, 813, 2486)
inserted
(5577150313, Timestamp('2016-04-09 00:00:00'), 10494, 7.840000153, 7.840000153, 0.0, 4.909999847, 0.779999971, 2.150000095, 0.0, 123, 62, 138, 601, 3817)
inserted
(5577150313, Timestamp('2016-04-10 00:00:00'), 9776, 7.380000114, 7.380000114, 0.0, 2.930000067, 1.429999948, 3.019999981, 0.0, 80, 35, 162, 721, 3378)
inserted
(5577150313, Timestamp('2016-04-11 00:00:00'), 2862, 2.140000105, 2.140000105, 0.0, 1.039999962, 0.25, 0.839999974, 0.0, 39, 17, 54, 209, 1511)
inserted
(6117666160, Timestamp('2016-04-01 00:00:00'), 7444, 5.619999886, 5.619999886, 0.0, 0.0, 0.0, 5.619999886, 0.0, 0, 0, 286, 568, 2210)
inserted
(6117666160, Timestamp('2016-04-02 00:00:00'), 19658, 14.84000015, 14.84000015, 0.0, 0.239999995, 2.089999914, 12.51000023, 0.0, 3, 30, 475, 466, 2884)
inserted
(6117666160, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1496)
inserted
(6117666160, Timestamp('2016-04-04 00:00:00'), 8468, 6.389999866, 6.389999866, 0.0, 0.180000007, 0.639999986, 5.570000172, 0.0, 2, 11, 279, 1148, 2262)
inserted
(6117666160, Timestamp('2016-04-05 00:00:00'), 9910, 7.480000019, 7.480000019, 0.0, 0.0, 0.0, 7.480000019, 0.0, 0, 0, 384, 990, 2445)
inserted
(6117666160, Timestamp('2016-04-06 00:00:00'), 12409, 9.369999886, 9.369999886, 0.0, 0.0, 0.0, 9.369999886, 0.0, 0, 0, 491, 388, 2694)
inserted
(6117666160, Timestamp('2016-04-07 00:00:00'), 4853, 3.660000086, 3.660000086, 0.0, 0.0, 0.0, 3.660000086, 0.0, 0, 0, 156, 770, 1903)
inserted
(6117666160, Timestamp('2016-04-08 00:00:00'), 8955, 6.760000229, 6.760000229, 0.0, 0.0, 0.0, 6.730000019, 0.0, 0, 0, 422, 1018, 2482)
inserted
(6117666160, Timestamp('2016-04-09 00:00:00'), 10789, 8.149999619, 8.149999619, 0.0, 0.0, 0.0, 8.149999619, 0.0, 0, 0, 506, 413, 2617)
inserted
(6117666160, Timestamp('2016-04-10 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 0)
inserted
(6290855005, Timestamp('2016-04-01 00:00:00'), 6633, 5.010000229, 5.010000229, 0.0, 0.0, 0.0, 5.010000229, 0.0, 0, 0, 280, 1160, 2778)
inserted
(6290855005, Timestamp('2016-04-02 00:00:00'), 9548, 7.21999979, 7.21999979, 0.0, 2.019999981, 3.680000067, 1.519999981, 0.0, 25, 107, 113, 1195, 3119)
inserted
(6290855005, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 33, 0, 0, 1407, 2664)
inserted
(6290855005, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2060)
inserted
(6290855005, Timestamp('2016-04-05 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2060)
inserted
(6290855005, Timestamp('2016-04-06 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2060)
inserted
(6290855005, Timestamp('2016-04-07 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2060)
inserted
(6290855005, Timestamp('2016-04-08 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2060)
inserted
(6290855005, Timestamp('2016-04-09 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 2060)
inserted
(6290855005, Timestamp('2016-04-10 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20, 0, 0, 494, 735)
inserted
(6391747486, Timestamp('2016-04-01 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1820)
inserted
(6391747486, Timestamp('2016-04-02 00:00:00'), 2101, 2.029999971, 0.0, 2.027772903, 2.029999971, 0.0, 0.0, 0.0, 46, 0, 0, 1394, 2224)
inserted
(6391747486, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1820)
inserted
(6391747486, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1820)
inserted
(6391747486, Timestamp('2016-04-05 00:00:00'), 9766, 7.510000229, 0.779999971, 6.72705698, 0.0, 0.050000001, 7.460000038, 0.0, 0, 6, 301, 1133, 2442)
inserted
(6391747486, Timestamp('2016-04-06 00:00:00'), 165, 0.129999995, 0.129999995, 0.0, 0.0, 0.0, 0.129999995, 0.0, 0, 0, 8, 1432, 1849)
inserted
(6391747486, Timestamp('2016-04-07 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1822)
inserted
(6391747486, Timestamp('2016-04-08 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1820)
inserted
(6391747486, Timestamp('2016-04-09 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 198, 251)
inserted
(6775888955, Timestamp('2016-04-01 00:00:00'), 7225, 5.179999828, 5.179999828, 0.0, 1.730000019, 1.269999981, 2.180000067, 0.0, 25, 50, 163, 1189, 3065)
inserted
(6775888955, Timestamp('2016-04-02 00:00:00'), 1988, 1.429999948, 1.429999948, 0.0, 0.0, 0.0, 1.429999948, 0.0, 0, 0, 79, 909, 2207)
inserted
(6775888955, Timestamp('2016-04-03 00:00:00'), 1577, 1.129999995, 1.129999995, 0.0, 0.07, 0.889999986, 0.170000002, 0.0, 1, 17, 8, 1414, 1977)
inserted
(6775888955, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1841)
inserted
(6775888955, Timestamp('2016-04-05 00:00:00'), 9348, 6.699999809, 6.699999809, 0.0, 1.129999995, 2.039999962, 3.140000105, 0.0, 56, 133, 240, 1011, 4286)
inserted
(6775888955, Timestamp('2016-04-06 00:00:00'), 11761, 8.430000305, 8.430000305, 0.0, 1.309999943, 2.440000057, 4.679999828, 0.0, 24, 99, 300, 550, 3920)
inserted
(6775888955, Timestamp('2016-04-07 00:00:00'), 13987, 10.02999973, 10.02999973, 0.0, 2.869999886, 3.339999914, 3.819999933, 0.0, 46, 114, 250, 739, 3856)
inserted
(6775888955, Timestamp('2016-04-08 00:00:00'), 4131, 2.960000038, 2.960000038, 0.0, 1.370000005, 0.610000014, 0.980000019, 0.0, 27, 30, 75, 1308, 2584)
inserted
(6775888955, Timestamp('2016-04-09 00:00:00'), 14, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 1, 601, 787)
inserted
(6962181067, Timestamp('2016-03-30 00:00:00'), 15491, 10.23999977, 10.23999977, 0.0, 1.289999962, 4.489999771, 4.460000038, 0.0, 18, 77, 272, 641, 2244)
inserted
(6962181067, Timestamp('2016-03-31 00:00:00'), 14097, 9.319999695, 9.319999695, 0.0, 3.5, 1.919999957, 3.900000095, 0.0, 50, 32, 234, 595, 2188)
inserted
(6962181067, Timestamp('2016-04-01 00:00:00'), 10467, 6.980000019, 6.980000019, 0.0, 0.699999988, 2.430000067, 3.849999905, 0.0, 9, 45, 252, 602, 2014)
inserted
(6962181067, Timestamp('2016-04-02 00:00:00'), 12437, 8.300000191, 8.300000191, 0.0, 3.75999999, 1.289999962, 3.24000001, 0.0, 50, 24, 219, 732, 2115)
inserted
(6962181067, Timestamp('2016-04-03 00:00:00'), 12307, 8.140000343, 8.140000343, 0.0, 1.00999999, 3.25999999, 3.869999886, 0.0, 14, 51, 218, 589, 2055)
inserted
(6962181067, Timestamp('2016-04-04 00:00:00'), 18952, 12.80000019, 12.80000019, 0.0, 5.909999847, 1.230000019, 5.659999847, 0.0, 73, 20, 327, 570, 2437)
inserted
(6962181067, Timestamp('2016-04-05 00:00:00'), 12010, 7.940000057, 7.940000057, 0.0, 2.380000114, 0.949999988, 4.610000134, 0.0, 38, 17, 287, 692, 2158)
inserted
(6962181067, Timestamp('2016-04-06 00:00:00'), 12480, 8.859999657, 8.25, 3.97279501, 4.179999828, 0.689999998, 4.0, 0.0, 55, 14, 276, 593, 2170)
inserted
(6962181067, Timestamp('2016-04-07 00:00:00'), 13417, 9.649999619, 8.869999886, 1.926301956, 3.390000105, 1.25, 4.909999847, 0.100000001, 45, 16, 284, 665, 2244)
inserted
(6962181067, Timestamp('2016-04-08 00:00:00'), 14400, 10.88000011, 9.520000458, 5.45686388, 2.470000029, 2.880000114, 5.53000021, 0.0, 27, 37, 276, 697, 2188)
inserted
(6962181067, Timestamp('2016-04-09 00:00:00'), 12495, 8.260000229, 8.260000229, 0.0, 2.210000038, 1.090000033, 4.960000038, 0.0, 33, 19, 324, 609, 2231)
inserted
(6962181067, Timestamp('2016-04-10 00:00:00'), 10148, 6.710000038, 6.710000038, 0.0, 1.360000014, 0.219999999, 5.130000114, 0.0, 19, 7, 306, 679, 2100)
inserted
(6962181067, Timestamp('2016-04-11 00:00:00'), 12362, 9.090000153, 8.170000076, 2.696455002, 1.090000033, 2.730000019, 5.269999981, 0.0, 21, 38, 297, 678, 2188)
inserted
(6962181067, Timestamp('2016-04-12 00:00:00'), 5893, 3.900000095, 3.900000095, 0.0, 2.880000114, 0.560000002, 0.460000008, 0.0, 43, 9, 48, 146, 917)
inserted
(7007744171, Timestamp('2016-04-01 00:00:00'), 11680, 9.06000042, 7.809999943, 4.901282787, 4.489999771, 0.330000013, 4.239999771, 0.0, 50, 7, 244, 1139, 2573)
inserted
(7007744171, Timestamp('2016-04-02 00:00:00'), 10976, 7.340000153, 7.340000153, 0.0, 0.550000012, 0.670000017, 6.130000114, 0.0, 9, 16, 271, 1075, 2575)
inserted
(7007744171, Timestamp('2016-04-03 00:00:00'), 16806, 11.23999977, 11.23999977, 0.0, 6.409999847, 1.370000005, 3.470000029, 0.0, 104, 31, 230, 1002, 3086)
inserted
(7007744171, Timestamp('2016-04-04 00:00:00'), 15266, 11.39999962, 10.21000004, 5.189849854, 5.800000191, 0.75999999, 4.789999962, 0.050000001, 70, 21, 292, 1057, 2886)
inserted
(7007744171, Timestamp('2016-04-05 00:00:00'), 12084, 9.140000343, 8.079999924, 4.836380005, 4.389999866, 0.460000008, 4.289999962, 0.0, 50, 6, 284, 1030, 2676)
inserted
(7007744171, Timestamp('2016-04-06 00:00:00'), 13513, 10.25, 9.069999695, 4.835720062, 5.349999905, 0.330000013, 4.559999943, 0.0, 64, 8, 270, 1098, 2811)
inserted
(7007744171, Timestamp('2016-04-07 00:00:00'), 14100, 10.57999992, 9.430000305, 4.875989914, 5.099999905, 1.190000057, 4.28000021, 0.0, 61, 33, 265, 1015, 2840)
inserted
(7007744171, Timestamp('2016-04-08 00:00:00'), 12627, 9.649999619, 8.449999809, 4.842319965, 4.699999809, 0.74000001, 4.210000038, 0.0, 54, 22, 301, 1063, 2871)
inserted
(7007744171, Timestamp('2016-04-09 00:00:00'), 10345, 6.920000076, 6.920000076, 0.0, 0.07, 0.270000011, 6.579999924, 0.0, 2, 6, 358, 1074, 2613)
inserted
(7007744171, Timestamp('2016-04-10 00:00:00'), 10146, 6.789999962, 6.789999962, 0.0, 0.07, 0.610000014, 6.110000134, 0.0, 1, 12, 397, 1030, 2700)
inserted
(7007744171, Timestamp('2016-04-11 00:00:00'), 12168, 8.140000343, 8.140000343, 0.0, 1.049999952, 0.790000021, 6.289999962, 0.0, 18, 27, 375, 1020, 2871)
inserted
(7007744171, Timestamp('2016-04-12 00:00:00'), 7413, 5.769999981, 4.960000038, 4.869782925, 4.5, 0.340000004, 0.939999998, 0.0, 53, 6, 43, 405, 1023)
inserted
(7086361926, Timestamp('2016-04-01 00:00:00'), 11463, 7.670000076, 7.670000076, 0.0, 2.829999924, 1.889999986, 2.930000067, 0.0, 38, 30, 154, 777, 2496)
inserted
(7086361926, Timestamp('2016-04-02 00:00:00'), 87, 0.02, 0.02, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 2, 872, 1641)
inserted
(7086361926, Timestamp('2016-04-03 00:00:00'), 1949, 1.309999943, 1.309999943, 0.0, 0.230000004, 0.349999994, 0.730000019, 0.0, 3, 6, 27, 1404, 1794)

inserted
(7086361926, Timestamp('2016-04-04 00:00:00'), 6101, 3.869999886, 3.869999886, 0.0, 0.529999971, 0.230000004, 3.099999905, 0.0, 31, 24, 138, 1247, 2421)
inserted
(7086361926, Timestamp('2016-04-05 00:00:00'), 7478, 4.989999771, 4.989999771, 0.0, 1.799999952, 0.529999971, 2.609999895, 0.029999999, 25, 33, 132, 1159, 2439)
inserted
(7086361926, Timestamp('2016-04-06 00:00:00'), 7352, 4.730000019, 4.730000019, 0.0, 1.409999967, 0.779999971, 2.529999971, 0.0, 19, 14, 124, 814, 2233)
inserted
(7086361926, Timestamp('2016-04-07 00:00:00'), 14604, 10.81999969, 10.81999969, 0.0, 7.230000019, 1.120000005, 2.430000067, 0.029999999, 76, 30, 127, 695, 2862)
inserted
(7086361926, Timestamp('2016-04-08 00:00:00'), 9634, 6.519999981, 6.519999981, 0.0, 2.5, 1.399999976, 2.589999914, 0.0, 50, 48, 140, 797, 2752)
inserted
(7086361926, Timestamp('2016-04-09 00:00:00'), 7338, 4.670000076, 4.670000076, 0.0, 1.080000043, 0.129999995, 3.460000038, 0.0, 27, 5, 204, 717, 2519)
inserted
(7086361926, Timestamp('2016-04-10 00:00:00'), 569, 0.349999994, 0.349999994, 0.0, 0.0, 0.0, 0.340000004, 0.0, 0, 0, 27, 1368, 1799)
inserted
(7086361926, Timestamp('2016-04-11 00:00:00'), 6242, 3.920000076, 3.920000076, 0.0, 0.74000001, 0.230000004, 2.930000067, 0.0, 46, 22, 126, 741, 2543)
inserted
(7086361926, Timestamp('2016-04-12 00:00:00'), 430, 0.25999999, 0.25999999, 0.0, 0.0, 0.0, 0.25999999, 0.0, 0, 0, 14, 75, 625)
inserted
(8053475328, Timestamp('2016-04-02 00:00:00'), 20188, 15.61999989, 15.61999989, 0.0, 12.06000042, 0.850000024, 2.710000038, 0.0, 124, 19, 172, 1125, 3377)
inserted
(8053475328, Timestamp('2016-04-03 00:00:00'), 25701, 20.13999939, 20.13999939, 0.0, 16.81999969, 1.629999995, 1.690000057, 0.0, 165, 36, 97, 1142, 3697)
inserted
(8053475328, Timestamp('2016-04-04 00:00:00'), 17395, 13.21000004, 13.21000004, 0.0, 9.670000076, 0.180000007, 3.349999905, 0.0, 100, 4, 213, 1123, 3209)
inserted
(8053475328, Timestamp('2016-04-05 00:00:00'), 17167, 13.40999985, 13.40999985, 0.0, 9.960000038, 0.310000002, 3.140000105, 0.0, 98, 8, 184, 1150, 3167)
inserted
(8053475328, Timestamp('2016-04-06 00:00:00'), 16435, 12.42000008, 12.42000008, 0.0, 8.960000038, 0.550000012, 2.910000086, 0.0, 100, 14, 191, 1135, 3122)
inserted
(8053475328, Timestamp('2016-04-07 00:00:00'), 17078, 13.19999981, 13.19999981, 0.0, 9.970000267, 0.239999995, 2.99000001, 0.0, 101, 6, 190, 1143, 3176)
inserted
(8053475328, Timestamp('2016-04-08 00:00:00'), 11693, 9.539999962, 9.539999962, 0.0, 6.769999981, 0.25999999, 2.5, 0.0, 60, 6, 153, 1221, 2790)
inserted
(8053475328, Timestamp('2016-04-09 00:00:00'), 11159, 9.140000343, 9.140000343, 0.0, 6.690000057, 0.25, 2.190000057, 0.0, 59, 6, 120, 1255, 2715)
inserted
(8053475328, Timestamp('2016-04-10 00:00:00'), 10118, 7.730000019, 7.730000019, 0.0, 3.049999952, 0.800000012, 3.880000114, 0.0, 30, 18, 207, 1185, 2684)
inserted
(8053475328, Timestamp('2016-04-11 00:00:00'), 16064, 12.72000027, 12.72000027, 0.0, 9.979999542, 0.360000014, 2.380000114, 0.0, 96, 8, 155, 1181, 3097)
inserted
(8053475328, Timestamp('2016-04-12 00:00:00'), 290, 0.209999993, 0.209999993, 0.0, 0.0, 0.0, 0.209999993, 0.0, 0, 0, 16, 599, 791)
inserted
(8253242879, Timestamp('2016-04-01 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1429)
inserted
(8253242879, Timestamp('2016-04-02 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1429)
inserted
(8253242879, Timestamp('2016-04-03 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1429)
inserted
(8253242879, Timestamp('2016-04-04 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1429)
inserted
(8253242879, Timestamp('2016-04-05 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1429)
inserted
(8253242879, Timestamp('2016-04-06 00:00:00'), 1931, 1.279999971, 1.279999971, 0.0, 0.0, 0.0, 1.279999971, 0.0, 0, 0, 94, 1346, 1607)
inserted
(8253242879, Timestamp('2016-04-07 00:00:00'), 5181, 3.420000076, 3.420000076, 0.0, 1.0, 0.910000026, 1.50999999, 0.01, 15, 15, 107, 1303, 1776)
inserted
(8253242879, Timestamp('2016-04-08 00:00:00'), 12026, 9.149999619, 9.149999619, 0.0, 5.699999809, 0.930000007, 2.50999999, 0.0, 47, 13, 150, 1230, 2162)
inserted
(8253242879, Timestamp('2016-04-09 00:00:00'), 5360, 3.539999962, 3.539999962, 0.0, 0.540000021, 1.549999952, 1.460000038, 0.0, 8, 28, 148, 1256, 1832)
inserted
(8253242879, Timestamp('2016-04-10 00:00:00'), 2545, 1.679999948, 1.679999948, 0.0, 0.0, 0.0, 1.669999957, 0.02, 0, 0, 126, 1314, 1657)
inserted
(8253242879, Timestamp('2016-04-11 00:00:00'), 1636, 1.080000043, 1.080000043, 0.0, 0.0, 0.0, 1.080000043, 0.0, 0, 0, 86, 1139, 1377)
inserted
(8253242879, Timestamp('2016-04-12 00:00:00'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 0)
inserted
(8378563200, Timestamp('2016-04-01 00:00:00'), 14179, 11.23999977, 11.23999977, 0.0, 6.230000019, 1.059999943, 3.960000038, 0.0, 73, 21, 195, 719, 3669)
inserted
(8378563200, Timestamp('2016-04-02 00:00:00'), 3358, 2.660000086, 2.660000086, 0.0, 0.0, 0.0, 2.660000086, 0.0, 0, 0, 144, 657, 2702)
inserted
(8378563200, Timestamp('2016-04-03 00:00:00'), 9152, 7.260000229, 7.260000229, 0.0, 1.99000001, 0.819999993, 4.449999809, 0.0, 25, 13, 243, 600, 3304)
inserted
(8378563200, Timestamp('2016-04-04 00:00:00'), 13935, 11.05000019, 11.05000019, 2.092147112, 4.090000153, 0.790000021, 6.170000076, 0.0, 105, 16, 220, 658, 4234)
inserted
(8378563200, Timestamp('2016-04-05 00:00:00'), 12846, 10.18999958, 10.18999958, 2.253081083, 5.0, 0.75, 4.440000057, 0.0, 113, 15, 189, 686, 4128)
inserted
(8378563200, Timestamp('2016-04-06 00:00:00'), 9124, 7.239999771, 7.239999771, 2.092147112, 0.0, 0.25, 6.989999771, 0.0, 55, 6, 230, 728, 3798)
inserted
(8378563200, Timestamp('2016-04-07 00:00:00'), 9725, 7.710000038, 7.710000038, 2.253081083, 2.410000086, 0.529999971, 4.769999981, 0.0, 83, 11, 181, 670, 3839)
inserted
(8378563200, Timestamp('2016-04-08 00:00:00'), 8350, 6.619999886, 6.619999886, 2.092147112, 1.49000001, 0.529999971, 4.610000134, 0.0, 72, 10, 167, 868, 3713)
inserted
(8378563200, Timestamp('2016-04-09 00:00:00'), 2240, 1.779999971, 1.779999971, 0.0, 0.0, 0.0, 1.779999971, 0.0, 0, 0, 110, 843, 2606)
inserted
(8378563200, Timestamp('2016-04-10 00:00:00'), 2631, 2.089999914, 2.089999914, 0.0, 0.0, 0.0, 2.089999914, 0.0, 0, 0, 117, 727, 2624)
inserted
(8378563200, Timestamp('2016-04-11 00:00:00'), 8837, 7.010000229, 7.010000229, 2.092147112, 1.539999962, 0.879999995, 4.590000153, 0.0, 74, 17, 182, 811, 3775)
inserted
(8378563200, Timestamp('2016-04-12 00:00:00'), 3246, 2.569999933, 2.569999933, 2.253081083, 0.829999983, 0.709999979, 1.029999971, 0.0, 65, 15, 49, 243, 1882)
inserted
(8583815059, Timestamp('2016-04-01 00:00:00'), 2174, 1.700000048, 1.700000048, 0.0, 0.0, 0.0, 1.700000048, 0.0, 0, 0, 112, 1328, 2360)
inserted
(8583815059, Timestamp('2016-04-02 00:00:00'), 3494, 2.730000019, 2.730000019, 0.0, 0.0, 0.0, 2.690000057, 0.0, 0, 0, 166, 1274, 2517)
inserted
(8583815059, Timestamp('2016-04-03 00:00:00'), 2380, 1.860000014, 1.860000014, 0.0, 0.0, 0.0, 1.860000014, 0.0, 0, 0, 131, 1309, 2400)
inserted
(8583815059, Timestamp('2016-04-04 00:00:00'), 3159, 2.460000038, 2.460000038, 0.0, 0.0, 0.0, 2.460000038, 0.0, 0, 0, 147, 1293, 2462)
inserted
(8583815059, Timestamp('2016-04-05 00:00:00'), 6835, 5.329999924, 5.329999924, 0.0, 0.370000005, 0.730000019, 4.239999771, 0.0, 5, 15, 212, 1208, 2786)
inserted
(8583815059, Timestamp('2016-04-06 00:00:00'), 2098, 1.639999986, 1.639999986, 0.0, 0.0, 0.0, 1.629999995, 0.0, 0, 0, 112, 1328, 2354)
inserted
(8583815059, Timestamp('2016-04-07 00:00:00'), 2816, 2.200000048, 2.200000048, 0.0, 0.0, 0.0, 2.200000048, 0.0, 0, 0, 138, 1302, 2437)
inserted
(8583815059, Timestamp('2016-04-08 00:00:00'), 1408, 1.100000024, 1.100000024, 0.0, 0.0, 0.0, 1.100000024, 0.0, 0, 0, 79, 1052, 1814)
inserted
(8792009665, Timestamp('2016-04-01 00:00:00'), 4592, 2.940000057, 2.940000057, 0.0, 0.100000001, 0.140000001, 2.700000048, 0.0, 4, 8, 176, 748, 2260)
inserted
(8792009665, Timestamp('2016-04-02 00:00:00'), 8452, 5.409999847, 5.409999847, 0.0, 0.25999999, 0.389999986, 4.760000229, 0.0, 9, 24, 328, 1079, 3004)
inserted
(8792009665, Timestamp('2016-04-03 00:00:00'), 7238, 4.630000114, 4.630000114, 0.0, 0.109999999, 0.230000004, 4.289999962, 0.0, 2, 6, 279, 636, 2667)

inserted
(8792009665, Timestamp('2016-04-04 00:00:00'), 3821, 2.450000048, 2.450000048, 0.0, 0.0, 0.219999999, 2.230000019, 0.0, 0, 9, 161, 675, 2229)
inserted
(8792009665, Timestamp('2016-04-05 00:00:00'), 2332, 1.49000001, 1.49000001, 0.0, 0.01, 0.180000007, 1.299999952, 0.0, 1, 10, 111, 904, 2100)
inserted
(8792009665, Timestamp('2016-04-06 00:00:00'), 2121, 1.360000014, 1.360000014, 0.0, 0.0, 0.0, 1.360000014, 0.0, 0, 0, 122, 855, 2114)
inserted
(8792009665, Timestamp('2016-04-07 00:00:00'), 1291, 0.829999983, 0.829999983, 0.0, 0.0, 0.0, 0.829999983, 0.0, 0, 0, 77, 888, 1961)
inserted
(8792009665, Timestamp('2016-04-08 00:00:00'), 1467, 0.939999998, 0.939999998, 0.0, 0.100000001, 0.209999993, 0.629999995, 0.0, 2, 8, 71, 912, 1953)
inserted
(8792009665, Timestamp('2016-04-09 00:00:00'), 1022, 0.649999976, 0.649999976, 0.0, 0.0, 0.0, 0.649999976, 0.0, 0, 0, 63, 739, 1890)
inserted
(8792009665, Timestamp('2016-04-10 00:00:00'), 4605, 2.950000048, 2.950000048, 0.0, 0.0, 0.0, 2.950000048, 0.0, 0, 0, 179, 1261, 2253)
inserted
(8792009665, Timestamp('2016-04-11 00:00:00'), 178, 0.109999999, 0.109999999, 0.0, 0.0, 0.0, 0.109999999, 0.0, 0, 0, 12, 1428, 1725)
inserted
(8792009665, Timestamp('2016-04-12 00:00:00'), 20, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0, 0, 6, 598, 728)
inserted
(8877689391, Timestamp('2016-04-01 00:00:00'), 18700, 15.81999969, 15.81999969, 0.0, 8.699999809, 0.159999996, 6.909999847, 0.0, 67, 3, 247, 1123, 3527)
inserted
(8877689391, Timestamp('2016-04-02 00:00:00'), 27572, 23.38999939, 23.38999939, 0.0, 14.72000027, 1.210000038, 7.340000153, 0.01, 116, 24, 260, 1040, 4220)
inserted
(8877689391, Timestamp('2016-04-03 00:00:00'), 15260, 8.18999958, 8.18999958, 0.0, 1.799999952, 0.75, 5.570000172, 0.0, 106, 17, 259, 1058, 3864)
inserted
(8877689391, Timestamp('2016-04-04 00:00:00'), 20779, 18.40999985, 18.40999985, 0.0, 11.72999954, 0.649999976, 6.0, 0.0, 78, 16, 208, 1138, 3662)
inserted
(8877689391, Timestamp('2016-04-05 00:00:00'), 10695, 8.119999886, 8.119999886, 0.0, 0.769999981, 0.180000007, 7.090000153, 0.01, 10, 3, 246, 1181, 2834)
inserted
(8877689391, Timestamp('2016-04-06 00:00:00'), 24136, 20.90999985, 20.90999985, 0.0, 12.22000027, 0.540000021, 8.079999924, 0.0, 87, 16, 318, 1019, 4039)
inserted
(8877689391, Timestamp('2016-04-07 00:00:00'), 10910, 8.420000076, 8.420000076, 0.0, 2.960000038, 0.389999986, 5.03000021, 0.0, 32, 11, 212, 1185, 2947)
inserted
(8877689391, Timestamp('2016-04-08 00:00:00'), 23014, 20.38999939, 20.38999939, 0.0, 11.10000038, 0.629999995, 8.619999886, 0.0, 70, 29, 359, 982, 4196)
inserted
(8877689391, Timestamp('2016-04-09 00:00:00'), 16470, 8.069999695, 8.069999695, 0.0, 0.0, 0.02, 8.020000458, 0.0, 90, 9, 289, 1052, 3841)
inserted
(8877689391, Timestamp('2016-04-10 00:00:00'), 28497, 27.53000069, 27.53000069, 0.0, 21.92000008, 1.120000005, 4.460000038, 0.0, 128, 46, 211, 1055, 4526)
inserted
(8877689391, Timestamp('2016-04-11 00:00:00'), 10622, 8.06000042, 8.06000042, 0.0, 1.470000029, 0.150000006, 6.369999886, 0.01, 18, 7, 225, 1190, 2820)
inserted
(8877689391, Timestamp('2016-04-12 00:00:00'), 2350, 1.779999971, 1.779999971, 0.0, 0.0, 0.0, 1.779999971, 0.0, 0, 0, 58, 531, 938)
inserted
inserted all

In [40]:
p.read_sql_query("select * from fitbit",con = mydb)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.39,20.39,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.07,8.07,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.53,27.53,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.06,8.06,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.78,1.78,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [9]:
d.to_json('fitbit.json')

In [11]:
import json

In [12]:
f = open('fitbit.json','r+')
e=json.load(f)
f.close()

In [69]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://vivek1:5X2oq4TGif9drMbm@cluster1.ivrgot3.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [70]:
col = db['task']
x= col['fitbit']
x.insert_one(e)

In [13]:
#Find out in this data that how many unique id's we have
len(d.Id.unique())

35

In [14]:
#which id is one of the active id that you have in whole dataset
d.groupby('Id').TotalSteps.sum().sort_values(ascending = False).head(3)

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

In [66]:
#how many of them have not logged there activity find out in terms of number of ids
len(d['Id'].unique())-len(d[d['LoggedActivitiesDistance']>0].Id.unique())

29

In [87]:
#Find out who is the laziest person id that we have in dataset
q=dict(d.groupby("Id").TotalDistance.mean())
min(q,key = lambda x: q[x])

4388161847

In [7]:
#Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset
def cl(x):
    if x<2000:
        return "unhealthy"
    else:
        return 'healthy'
#d['health']=d.Calories.apply(cl)

In [8]:
d.groupby("Id").Calories.mean().apply(cl)[d.groupby("Id").Calories.mean().apply(cl)== 'healthy']

Id
1644430081    healthy
1927972279    healthy
2022484408    healthy
2347167796    healthy
2891001357    healthy
4020332650    healthy
4445114986    healthy
4702921684    healthy
5577150313    healthy
6117666160    healthy
6290855005    healthy
6775888955    healthy
6962181067    healthy
7007744171    healthy
7086361926    healthy
8053475328    healthy
8378563200    healthy
8583815059    healthy
8792009665    healthy
8877689391    healthy
Name: Calories, dtype: object

In [9]:
#what is a totla acumulative calories burn for a person find out 
d.groupby("Id")['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64

In [10]:
def cl(x):
    if x<2000:
        return 0
    else:
        return 1
d['healthyday']=d.Calories.apply(cl)

In [29]:
#how many person are not a regular person with respect to activity try to find out those
df=d.groupby('Id')['healthyday','Calories'].sum()
df

C:\Users\laptop\AppData\Local\Temp/ipykernel_12896/3311939816.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df=d.groupby('Id')['healthyday','Calories'].sum()

            healthyday  Calories
Id
1503960366           3     34128
1624580081           0     25705
1644430081           9     29164
1844505072           0     19391
1927972279          11     27048
2022484408          11     29704
2026352035           0     16266
2320127002           1     18385
2347167796          12     30320
2873212765           3     20349
2891001357           2     18187
3372868164           4     18603
3977333714           0     16777
4020332650          30     98412
4057192912           9     60913
4319703577          10     23931
4388161847           0     14442
4445114986          13     31617
4558609924           3     21962
4702921684          14     42322
5553957443           6     21630
5577150313          10     36303
6117666160           7     20993
6290855005           9     21656
6391747486           2     15868
6775888955           6     24523
6962181067          13     29249
7007744171          11     31525
7086361926           8     26124
8053475328          10     31825
8253242879           1     17556
8378563200          11     40274
8583815059           7     19130
8792009665           7     24884
8877689391          11     41414

In [30]:
df['logged_days']=d.groupby('Id')['ActivityDate'].count()

In [34]:
df['AvgCalories']= df['Calories']/df['logged_days']

In [36]:
df['health_index']=df['healthyday']/df['logged_days']

In [38]:
df.describe()

       healthyday      Calories  logged_days  AvgCalories  health_index
count   35.000000     35.000000    35.000000    35.000000     35.000000
mean     7.257143  28588.000000    13.057143  2184.637454      0.556303
std      5.986961  15462.554815     5.351981   584.565939      0.367428
min      0.000000  14442.000000     8.000000  1352.894737      0.000000
25%      2.500000  19260.500000    10.500000  1799.355263      0.236111
50%      7.000000  24884.000000    12.000000  2089.214286      0.666667
75%     11.000000  31571.000000    12.000000  2551.208333      0.909091
max     30.000000  98412.000000    32.000000  3451.166667      0.937500

In [53]:
#who is the thired most active person in this dataset find out those in pandas8877689391,8053475328,8877689391

In [64]:
df.sort_values(by='AvgCalories',ascending = False).iloc[2]

healthyday         10.000000
Calories        36303.000000
logged_days        11.000000
AvgCalories      3300.272727
health_index        0.909091
Name: 5577150313, dtype: float64

In [65]:
#who is the 5th most laziest person avilable in dataset find it out 
df.sort_values(by='AvgCalories',ascending = False).iloc[-5]

healthyday          1.000000
Calories        18385.000000
logged_days        12.000000
AvgCalories      1532.083333
health_index        0.083333
Name: 2320127002, dtype: float64

In [66]:
df.sort_values(by='AvgCalories').iloc[4]

healthyday          1.000000
Calories        18385.000000
logged_days        12.000000
AvgCalories      1532.083333
health_index        0.083333
Name: 2320127002, dtype: float64